﻿@model CarPooling.Models.Trip.TripViewModel;

<div id="container-table-passengers" class="row small-div" style="margin-top: 2rem;">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table align-middle">
                @if (Model.Passengers.Count() > 0)
                {
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Phone Number</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Passengers)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>
                                    <div class="@user.UserName-rating">
                                        <div class="stars-outer">
                                            <div class="stars-inner" style="width:@((Math.Round(((double)user.RatingPoints / 5 * 100) / 10) * 10) + "%")">
                                                @user.RatingPoints
                                            </div>
                                        </div>
                                    </div>
                                </td>


                                <td><i class="fas fa-phone-alt"> &nbsp;</i>@user.PhoneNumber</td>
                                <td id="Passengers"><a href="#Passengers" style="color: white;" onclick="EmptyAjaxPassengers('@Url.Action("RemovePassenger", "Trips")',@Model.TripId,@user.UserId)" class="button button-dark">Remove</a></td>
                            </tr>
                        }

                    </tbody>
                }
                else
                {
                    <div style="text-align: center; margin-top: 10px;">
                        <p> There are currently no passingers in the trip!</p>
                    </div>
                }
            </table>
        </div>
    </div>
</div>