﻿@model CarPooling.Models.Trip.TripViewModel;

<div id="container-table" class="row small-div">
    <div class="col-lg-12">
        <div class="total-earning-table table-responsive">
            <table class="table align-middle">
                @if (Model.Candidates.Count() > 0)
                {
                    <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Candidates)
                        {
                        <tr>
                            @if (user.ProfilePicture != null)
                            {
                                <th scope="row">
                                    <img class="mе-3 rounded-circle" style="margin-right:1rem!important" height="60" src="@user.ProfilePicture"
                                         alt="partner-img"><span class="fw-light">@user.UserName</span>
                                    </th>
                                }
                                else
                                {
                                    <th scope="row">
                                        <img class="mе-3 rounded-circle" " style="margin-right:1rem!important" height="60" src="/DefaultProfilePic.jpg" alt="partner-img"><span class="fw-light">@user.UserName</span>
                                    </th>
                                }

                            <td>
                                <div class="@user.UserName-rating">
                                    <div class="stars-outer">
                                        <div class="stars-inner" style="width:@((Math.Round(((double)user.RatingPoints / 5 * 100) / 10) * 10) + "%")">
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td><i class="fas fa-phone"></i> &nbsp; @user.PhoneNumber</td>
                            <td>
                                <a href="#" onclick="EmptyAjaxCandidates('@Url.Action("ApproveCandidate","Trips")',@Model.TripId,@user.UserId)" class="btn-sm btn-secondary">Approve</a>
                                <br />
                                <br />
                                <a href="#" onclick="EmptyAjaxCandidates('@Url.Action("DenyCandidate","Trips")',@Model.TripId,@user.UserId)" class="btn-sm btn-secondary">Deny</a>
                            </td>
                        </tr>
                        }

                    </tbody>
                }
                else
                {
                    <h4 style="text-align: center;">There are no applicants for the trip at this moment!</h4>
                }
            </table>
        </div>
    </div>
</div>