﻿@using CarPooling.Service.ResponseModels
@using Microsoft.AspNetCore.Http;
@using CarPooling.Service.Services
@model CarPooling.Service.ResponseModels.DataTablePaginator<TripResponseModel>
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["UserId"] = this.Context.Session.GetString("UserId");
    this.ViewData["Applied"] = this.Context.Session.GetString("Applied");
}
<div id="container-table" class="row small-div">
    <div class="col-lg-12">
        <div class="total-earning-table table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">Route</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Driver</th>
                        <th scope="col">Prefferences</th>
                        <th scope="col">Free Seats</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var trip in Model.Data)
                    {
                        <tr class="trips">
                            <td scope="row">@trip.StartingPoint &emsp; <img src="~/assets/customImages/RoadDashLine.png" /> &emsp; <small>@trip.EndingPoint</small></td>
                            <td>@trip.DepartureDate</td>
                            <td>@trip.DepartureTime</td>
                            <td>@trip.DriverUserName</td>
                            @await Html.PartialAsync("_IconsPartial", trip)
                            <td style="text-align: center;">@trip.FreeSeats</td>
                            <td>
                                @if (trip.TripStatus == "Active")
                                {
                                    <span class="badge bg-success rounded-pill">@trip.TripStatus </span>
                                }
                                else if (trip.TripStatus == "Canceled")
                                {
                                    <span class="badge bg-danger rounded-pill"> @trip.TripStatus</span>
                                }
                                else
                                {
                                    <span class="badge bg-warning rounded-pill">@trip.TripStatus </span>
                                }
                            </td>
                            <td>
                                @if ((bool)ViewData["IsAuthenticated"])
                                {
                                    if (!trip.DriverId.Equals(int.Parse(ViewData["UserId"].ToString())))
                                    {
                                        if (!trip.CandidatesForTrip.Any(x => x.UserId.Equals(int.Parse(ViewData["UserId"].ToString()))))
                                        {
                                            if (!trip.Passangers.Any(x => x.UserId.Equals(int.Parse(ViewData["UserId"].ToString()))))
                                            {
                                                if (ViewData["Applied"].ToString() != "true")
                                                {
                                                    if (trip.TripStatus == "Active")
                                                    {
                                                        <a id="apply" href="#" onclick="EmptyAjaxApply(@trip.TripId)" class="btn-sm btn-secondary">Apply</a>
                                                    }
                                                }
                                            }
                                            else if (trip.TripStatus == "Active")
                                            {
                                                <a href="#" onclick="EmptyAjaxLeaveTrip(@trip.TripId)" class="btn-sm btn-secondary">Exit Trip</a>
                                            }
                                        }
                                        else
                                        {
                                            <a id="unapply" href="#" onclick="EmptyAjaxUnapply(@trip.TripId)" class="btn-sm btn-secondary">Unapply</a>
                                        }
                                    }
                                    else if (trip.TripStatus.ToString() == "Active")
                                    {
                                        <a asp-action="Edit" asp-route-id="@trip.TripId" class="btn-sm btn-secondary">Your's-Edit</a>
                                    }

                                }
                            <td>
                            <td><a asp-action="Details" asp-route-id="@trip.TripId" class="btn-sm btn-secondary">Details</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-center">
            @if (ViewBag.Search != true)
            {
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    @if (Model.CurrentPage > 1)
                    {
                        <button id="prev-button" type="button" class="btn btn-secondary">Prev</button>
                    }
                    <button type="button" class="btn btn-secondary " disabled>@Model.CurrentPage</button>
                    @if (Model.TotalItems - (Model.CurrentPage * Model.Take) > 0)
                    {
                        <button id="next-button" type="button" class="btn btn-secondary">Next</button>
                    }
                </div>
            }
        </div>
    </div>
</div>