﻿@model CarPooling.Models.Trip.TripViewModel;

<form asp-controller="Trips" asp-action="@ViewData["Method"]" method="post" enctype="multipart/form-data" class="margin-bottom">
    <div class="personal-info">
        <div class="personal-details small-div">
            <div class="row">
                <div class="row">
                    <div class="col">
                        <div class="form-group ">
                            <label for="readFirstName">StartingPoint</label>
                            <select asp-for="StartingPointId" asp-items="Model.StartingPointList" class="form-control text-muted">
                                <option value="@Model.StartingPointId"> @Model.StartingPoint </option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label for="firstName">EndingPoint</label>
                        <select asp-for="EndingPointId" asp-items="Model.EndingPointList" class="form-control text-muted">
                            <option value="@Model.EndingPointId" selected> @Model.EndingPoint </option>
                        </select>
                    </div>
                    <div class="col" style=" display: flex; justify-content: center; align-items: center;">
                        <div class="button button-light" onclick="showInPopup('@Url.Action("Create","Address")','Create')">Create New Location</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="lastName">Departure</label>
                        @if (ViewData["Method"].ToString() == "Create")
                        {
                            <input asp-for="DepartureDate" type="date" class="form-control text-muted" value="@DateTime.Now.AddHours(1).ToString("yyyy-MM-dd")"
                                   placeholder="@DateTime.Now.AddHours(1).ToString("yyyy-MM-dd")">
                        }
                        else
                        {
                            <input asp-for="DepartureDate" type="date" class="form-control text-muted" value="@Model.DepartureDate.ToString("yyyy-MM-dd")"
                                   min="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="@Model.DepartureDate.ToString("yyyy-MM-dd")">
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="lastName">Time</label>
                        <input asp-for="DepartureTime" type="text" class="form-control text-muted" placeholder="@Model.DepartureTime.ToString("HH:mm")">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="phoneNumber">Number of Free Seats</label>
                        <input asp-for="FreeSeats" type="number" class="form-control text-muted" min="1" placeholder="@Model.FreeSeats">
                    </div>
                </div>@if (ViewData["Method"].ToString() == "Edit")
                {
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="phoneNumber">Status</label>
                            <select asp-for="Status" asp-items="Model.TripStatuses" type="text" class="form-control text-muted">
                                <option value="@Model.Status" selected> @Model.Status </option>
                            </select>
                        </div>
                    </div>
                }
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="phoneNumber">Model Car</label>
                        <input asp-for="CarModel" type="text" class="form-control text-muted" placeholder="@Model.CarModel">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="phoneNumber">Car Color</label>
                        <input asp-for="CarColor" type="text" class="form-control text-muted" placeholder="@Model.CarColor">
                    </div>
                </div>

                <p></p>
                <div class="list-group mx-0">
                    <label class="list-group-item d-flex gap-2">
                        @if (Model.AirConditioner)
                        {
                            <input class="form-check-input flex-shrink-0" asp-for="AirConditioner" type="checkbox" checked value="true">

                        }
                        else
                        {
                            <input class="form-check-input flex-shrink-0" asp-for="AirConditioner" type="checkbox" value="true">

                        }
                        <span>
                            AirConditioner
                            <small class="d-block text-muted">Select if you have air conditioning pets in your vehicle.</small>
                        </span>
                    </label>
                    <label class="list-group-item d-flex gap-2">
                        @if (Model.SmokingAllowed)
                        {
                            <input class="form-check-input flex-shrink-0" asp-for="SmokingAllowed" type="checkbox" checked value="true">
                        }
                        else
                        {
                            <input class="form-check-input flex-shrink-0" asp-for="SmokingAllowed" type="checkbox" value="true">
                        }
                        <span>
                            Smoking
                            <small class="d-block text-muted">Select if you allow smoking in your vehicle.</small>
                        </span>
                    </label>

                    <label class="list-group-item d-flex gap-2">
                        @if (Model.PetsAllowed)
                        {
                            <input class="form-check-input flex-shrink-0" asp-for="PetsAllowed" type="checkbox" checked value="true">
                        }
                        else
                        {
                            <input class="form-check-input flex-shrink-0" asp-for="PetsAllowed" type="checkbox" value="true">
                        }
                        <span>
                            Pets
                            <small class="d-block text-muted">Select if you allow pets in your vehicle.</small>
                        </span>
                    </label>

                    @if (@ViewData["Method"].ToString() == "Edit")
                    {
                        @await Html.PartialAsync("_TablePassengers", Model);
                    }
                </div>
                <p></p>

                <div class="col-lg-12">
                    <button type="submit" class="button button-light"><span>@ViewData["Button"]</span></button>
                </div>

            </div>
        </div>
    </div>
</form>
