﻿@model CarPooling.Models.Trip.TripViewModel;
@{ ViewData["Title"] = "Create Trip"; }
@{ViewData["Method"] = "Create"; }
@{ViewData["Button"] = "Create"; }
<body class=" theme-2">

    <partial name="~/Views/Shared/_HeaderPartial.cshtml" />

    <div class="breadcrumb-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ol class="breadcrumb">
                        <li><a asp-controller="Trips" asp-action="Index">Ride with Tripsy</a></li>
                    </ol>
                </div>
                <div class="col-6">
                    <div class="text-end">
                        <h2>Create a Trip</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:5rem;">
        <partial name="~/Views/Trips/_TripForm.cshtml" />
    </div>
    <partial name="~/Views/Shared/_FooterPartialTheme3.cshtml" />
    <div class="modal" id="form-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/assets/plugins/common/common.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/assets/plugins/counterup/waypoints.min.js"></script>
    <script src="~/assets/plugins/counterup/jquery.counterup.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- custom scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/custom.js"></script>
</body>
