﻿@using Microsoft.AspNetCore.Http;
@using CarPooling.Data.Models.Enums
@model CarPooling.Models.Trip.TripViewModel;
@{
    ViewData["Method"] = "Details";
    this.ViewData["UserId"] = this.Context.Session.GetString("UserId");
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["Applied"] = this.Context.Session.GetString("Applied");
    this.ViewData["Title"] = "Trip Details";
}

<body class=" theme-2">

    <partial name="~/Views/Shared/_HeaderPartial.cshtml" />
    <div class="breadcrumb-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ol class="breadcrumb">
                        <li><a asp-controller="Trips" asp-action="Index">Ride with Tripsy</a></li>
                    </ol>
                </div>
                <div class="col-6">
                    <div class="text-end">
                        <h2 class="page-title">Trip Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:5rem">
        <div class="personal-info">
            <div class="personal-details small-div">
                <div class="row">
                    <div class="row">
                        <div class="col">
                            <div class="form-group ">
                                <label for="readFirstName">StartingPoint</label>
                                <input asp-for="StartingPoint" type="text" readonly class="form-control text-muted" placeholder="@Model.StartingPoint">
                            </div>
                        </div>
                        <div class="col">
                            <label for="firstName">EndingPoint</label>
                            <input asp-for="EndingPoint" type="text" readonly class="form-control text-muted" placeholder="@Model.EndingPoint">
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="phoneNumber">Number of Free Seats</label>
                                <input asp-for="FreeSeats" type="text" class="form-control text-muted" readonly placeholder="@Model.FreeSeats.ToString()">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="lastName">Departure Date</label>
                            <input asp-for="DepartureDate" type="date" class="form-control text-muted" readonly placeholder="@Model.DepartureDate">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="lastName">Time</label>
                            <input asp-for="DepartureTime" type="text" class="form-control text-muted" readonly placeholder="@Model.DepartureTime.ToString("HH:mm")">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="phoneNumber">Driver Username</label>
                            <input type="text" class="form-control text-muted" readonly placeholder="@Model.DriverName">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" class="form-control text-muted" readonly placeholder="@Model.DriverPhone">
                        </div>
                    </div>
                    <div class="col-lg-4" style=" display: flex; justify-content: center; align-items: center;">
                        @if ((bool)ViewData["IsAuthenticated"])
                        {
                            @if (Model.Status.Equals(TripStatus.Completed))
                            {
                                @if (Model.Passengers.Any(x => x.UserId == int.Parse(ViewData["UserId"].ToString())) || Model.DriverId == int.Parse(ViewData["UserId"].ToString()))
                                {
                                    if (Model.DriverId != int.Parse(ViewData["UserId"].ToString()))
                                    {
                                        <div class="form-group">
                                            <div href="#" style="color: white;" onclick="showRatingInPopup('@Url.Action("Create", "Ratings")', 'Give Rating', '@Model.DriverId', '@Model.DriverName', '@Model.TripId')" class="button button-light">Give Rating</div>
                                        </div>
                                    }
                                }
                            }
                        }
                        <div class="form-group">
                            <div class="button button-light"><a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.DriverId" style="color: white;">View Profile</a></div>
                        </div>
                        @if ((bool)ViewData["IsAuthenticated"])
                        {
                            @if (Model.DriverId != int.Parse(ViewData["UserId"].ToString()))
                            {
                                @if (!Model.Status.ToString().Equals("Completed"))
                                {
                                    @if (ViewData["Applied"].ToString() == "true")
                                    {
                                        @if (Model.Candidates.Any(x => x.UserId == int.Parse(ViewData["UserId"].ToString())))
                                        {
                                            <div class="form-group">
                                                <div class="button button-light"><a onclick="EmptyAjaxUnapply(@Model.TripId)" style="color: white;">Unapply</a></div>
                                            </div>

                                        }
                                        else if (Model.Passengers.Any(x => x.UserId == int.Parse(ViewData["UserId"].ToString())))
                                        {
                                            <div class="form-group">
                                                <div class="button button-light"><a onclick="EmptyAjaxLeaveTrip(@Model.TripId)" style="color: white;">Leave Trip</a></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <div class="button button-light"><a onclick="EmptyAjaxApply(@Model.TripId)" style="color: white;">Apply</a></div>
                                            </div>

                                        }
                                    }
                                    else
                                    {
                                        @if (Model.Passengers.Any(x => x.UserId == int.Parse(ViewData["UserId"].ToString())))
                                        {
                                            <div class="form-group">
                                                <div class="button button-light"><a onclick="EmptyAjaxLeaveTrip(@Model.TripId)" style="color: white;">Leave Trip</a></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <div class="button button-light"><a onclick="EmptyAjaxApply(@Model.TripId)" style="color: white;">Apply</a></div>
                                            </div>
                                        }

                                    }
                                }
                            }
                        }
                    </div>


                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="phoneNumber">Model Car</label>
                            <input type="text" class="form-control text-muted" readonly placeholder="@Model.CarModel">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="phoneNumber">Car Color</label>
                            <input asp-for="CarColor" type="text" class="form-control text-muted" readonly placeholder="@Model.CarColor">
                        </div>
                    </div>

                    <p></p>
                    <div class="col-lg-6">
                        <div class="list-group mx-0">
                            <label class="list-group-item d-flex gap-2">
                                @if (Model.AirConditioner)
                                {
                                    <input class="form-check-input flex-shrink-0" type="checkbox" onclick="return false;" checked value="true">

                                }
                                else
                                {
                                    <input class="form-check-input flex-shrink-0" type="checkbox" onclick="return false;" value="true">

                                }
                                <span>
                                    AirConditioner
                                    <small class="d-block text-muted">Select if you have air conditioning pets in your vehicle.</small>
                                </span>
                            </label>
                            <label class="list-group-item d-flex gap-2">
                                @if (Model.SmokingAllowed)
                                {
                                    <input class="form-check-input flex-shrink-0" type="checkbox" onclick="return false;" checked value="true">
                                }
                                else
                                {
                                    <input class="form-check-input flex-shrink-0" type="checkbox" onclick="return false;" value="true">
                                }
                                <span>
                                    Smoking
                                    <small class="d-block text-muted">Select if you allow smoking in your vehicle.</small>
                                </span>
                            </label>

                            <label class="list-group-item d-flex gap-2">
                                @if (Model.PetsAllowed)
                                {
                                    <input class="form-check-input flex-shrink-0" type="checkbox" onclick="return false;" checked value="true">
                                }
                                else
                                {
                                    <input class="form-check-input flex-shrink-0" type="checkbox" onclick="return false;" value="true">
                                }
                                <span>
                                    Pets
                                    <small class="d-block text-muted">Select if you allow pets in your vehicle.</small>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        @*weather*@


                        @if (Model.Weather != null && Model.Status.ToString().Equals("Active"))
                        {
                            <div class="row">
                                <h5 style=" float: left;"> The Weather during your trip is going to be: </h5>
                            </div>
                            <div class="weather" style="height: 170px;">
                                <div class="row" style="background: rgb(255,255,255); background: linear-gradient(90deg, rgba(255,255,255,0.8827906162464986) 19%, rgba(38,230,235,0.8211659663865546) 60%); height: 145px; color: white; ">
                                    @{
                                        var url = "https://www.weatherbit.io/static/img/icons/" + Model.Weather.Icon + ".png";
                                    }
                                    <div class="col-lg-4" style="line-height: 1.5;">


                                        <div style="display: flex; flex-flow:column; margin-top: 10px; color: gray;">
                                            <div style="display: flex; justify-content: center;">
                                                <img src="@url" ;" alt="Weather Icon" style="float: left; height: 100px; width: 100px;" />
                                            </div>
                                            @*<div style="display: flex; flex-flow: row; justify-content: space-around; margin-bottom: 5px; font-size: 18px;">
                                                    <span>  @Model.StartingPoint - @Model.EndingPoint</span>
                                                </div>*@
                                            <span style="text-align: center;">  @Model.Weather.Date</span>
                                        </div>

                                    </div>
                                    @{
                                        var visibilityValue = double.Parse(Model.Weather.Visibility);

                                        var visibility = "";

                                        if (visibilityValue < 1)
                                        {
                                            visibility = "Clear";
                                        }

                                        if (visibilityValue > 2)
                                        {
                                            visibility = "Foggy";
                                        }

                                        if (visibilityValue > 19)
                                        {
                                            visibility = "Thick Fog";
                                        }
                                    }
                                    <div class="col-lg-7" style="margin: 0 10px 0 10px; line-height: 1.5; text-align: center;">
                                        <div style="display: flex; flex-flow: column; justify-content: center; align-items: center; margin-top: 35px; margin-left: 25px;">
                                            <div>
                                                <span style="font-weight: 500; font-size: 25px;  margin-top: 8px; ">Temperature</span>  &nbsp;&nbsp;&nbsp;&nbsp; <span style="font-size: 20px;"> @Model.Weather.Temperature° </span>
                                            </div>
                                            @*<span style="font-weight: 500; font-size: 15px; margin-top: 8px;">Visibility</span>*@
                                            <div style="display: flex; justify-content: space-around; margin-top: 10px; width: auto;">
                                                <span style="font-size: 20px; font-weight: 300;">@visibility</span>
                                                <span style="font-size: 20px;">  &nbsp; / &nbsp; </span>
                                                <span style="font-size: 20px;  font-weight: 300;"> @Model.Weather.Description </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                        else if (Model.Weather == null)
                        {
                            <div style="text-align: center;"> Maximum calls to the weather API for the day is reached!</div>
                        }
                        else if (!Model.Status.ToString().Equals("Active"))
                        {
                            <div style="text-align: center;"> We cannot display Weather information if the trip has ended.</div>
                        }

                    </div>
                </div>
            </div>


            <div id="container-table" class="row small-div" style="margin-top: 2rem;">
                <h4 style=" float: left;"> Passengers </h4>
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table">
                            @if (Model.Passengers.Count() > 0)
                            {
                                <thead>
                                    <tr>
                                        <th scope="col">Username</th>
                                        <th scope="col">Rating</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.Passengers)
                                    {
                                        <tr>
                                            <td>@user.UserName</td>
                                            <td>
                                                <div class="@user.UserName-rating">
                                                    <div class="stars-outer">
                                                        <div class="stars-inner" style="width:@((Math.Round(((double)user.RatingPoints / 5 * 100) / 10) * 10) + "%")">
                                                            @user.RatingPoints
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><i class="fas fa-phone-alt"> &nbsp;</i>@user.PhoneNumber</td>
                                            <td> <a asp-controller="Users" asp-action="Profile" asp-route-id="@user.UserId" class="btn-sm btn-secondary" style="color: white">View Profile</a></td>

                                            <td>
                                                @if ((bool)ViewData["IsAuthenticated"])
                                                {
                                                    @if (Model.Status.Equals(TripStatus.Completed))
                                                    {
                                                        @if (Model.Passengers.Any(x => x.UserId == int.Parse(ViewData["UserId"].ToString())) || Model.DriverId.Equals(int.Parse(ViewData["UserId"].ToString())))
                                                        {
                                                            if (user.UserId != int.Parse(ViewData["UserId"].ToString()))
                                                            {
                                                                <a href="#" style="color: white;" onclick="showRatingInPopup('@Url.Action("Create", "Ratings")', 'Give Rating', '@user.UserId', '@user.UserName', '@Model.TripId')" class="btn-sm btn-secondary">Give Rating</a>
                                                            }
                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            }
                            else
                            {
                                <div style="text-align: center; margin-top: 10px;">
                                    <p> There are currently no passingers in the trip!</p>
                                </div>
                            }
                        </table>
                    </div>
                </div>
            </div>


        </div>
        <p></p>
    </div>
    </div>
    </div>
    </div>
    <partial name="~/Views/Shared/_FooterPartialTheme3.cshtml" />
    <div class="modal" id="form-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/assets/plugins/common/common.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/assets/plugins/counterup/waypoints.min.js"></script>
    <script src="~/assets/plugins/counterup/jquery.counterup.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- custom scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/custom.js"></script>
</body>