﻿@using CarPooling.Service.ResponseModels
@model CarPooling.Service.ResponseModels.DataTablePaginator<TripResponseModel>
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["Title"] = "Trips";
}
<body class="theme-1">
    <partial name="~/Views/Shared/_HeaderPartial.cshtml" />
    <div class="breadcrumb-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ol class="breadcrumb">
                        <li><a asp-controller="Trips" asp-action="Index">Ride with Tripsy</a></li>
                    </ol>
                </div>
                <div class="col-6">
                    <div class="text-end">
                        <h2>Trips</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:5rem;">
        <div class="rides-details" style="margin-top:30px;">
            <div class="row" style="margin-bottom: 10px">
                <div class="search-bar col-lg-6" id="search" style="margin-bottom:5px">
                    <form class="form">
                        <i class="fas fa-filter fa-2x" style="margin-top: 5px; margin-right: 5px;"></i><input class="form-control" type="text" name="search-bar" placeholder="Filter" id="filter">
                    </form>
                </div>
                @if ((bool)ViewData["IsAuthenticated"])
                {
                    <div class="col-lg-6" style="display:flex;justify-content:left">
                        <h4 class="page-title" style="text-align: center;">  <a asp-controller="Trips" asp-action="Create" class="btn btn-outline-dark">Create Trip</a>  </h4>
                    </div>
                }
            </div>
            @await Html.PartialAsync("_Table", Model)
        </div>
    </div>
    <partial name="~/Views/Shared/_FooterPartialTheme1.cshtml" />

    <!-- jQuery -->
    <script src="~/assets/plugins/common/common.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/assets/plugins/counterup/waypoints.min.js"></script>
    <script src="~/assets/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- custom scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/TripPagination.js"></script>
</body>