﻿@model CarPooling.Models.Address.AddressViewModel
<div class="row">
    <div class="row">
        <form onsubmit="return AjaxPosting(this);">
            <div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="firstName">Street</label>
                            <span asp-validation-for="Street" class="form-error"></span>
                            <input asp-for="Street" type="text" class="form-control text-muted" placeholder="@Model.Street">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="firstName">City</label>
                            <select asp-for="CityId" asp-items="Model.Cities" class="form-control text-muted"></select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="button button-dark tiny">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
