@model CarPooling.Models.Account.LoginViewModel
@{ ViewData["Title"] = "Login"; }
<body class="striped-bg theme-3">
    <header class="theme-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index"><img src="~/assets/customImages/logoSmall/logoSmallColor.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="div-padding p-t-0 signin-div user-access-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h1 class="h3 mb-3 fw-normal">Please Sign In</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="account-access sign-in">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="rider">
                                <form class="mb-4" asp-controller="Account" asp-action="Login" method="post">
                                    <span asp-validation-for="Email" class="form-error"></span>
                                    <div class="form-floating">
                                        <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                        <label for="floatingInput">Email address</label>
                                    </div>
                                    <span asp-validation-for="Password" class="form-error"></span>
                                    <div class="form-floating">
                                        <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                        <label for="floatingPassword">Password</label>
                                    </div>
                                    <button class="w-100 btn btn-lg btn-dark" type="submit">Sign in</button>

                                </form>

                                <p class="acclink">
                                    Don't have an account?
                                    <a asp-controller="Account" asp-action="Register">
                                        &nbsp; Sign up
                                        <i class="icofont">double_right</i>
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_FooterPartialTheme3.cshtml" />
    <!-- jQuery -->
    <script src="~/assets/plugins/common/common.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <!-- custom scripts -->
    <script src="~/main/js/scripts.js"></script>
</body>