@model CarPooling.Models.Account.RegisterViewModel
@{ ViewData["Title"] = "Register"; }
<body class="striped-bg theme-3">
    <header class="theme-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index"><img src="~/assets/customImages/logoSmall/logoSmallColor.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="div-padding p-t-0 signup-div user-access-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h1 class="h3 mb-3 fw-normal">Please Sign Up</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="account-access sign-up">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="rider">
                                <form class="user-access-form" asp-controller="Account" asp-action="Register" method="post">
                                    <span asp-validation-for="UserName" class="form-error"></span>
                                    <div class="form-floating">
                                        <input asp-for="UserName" type="text" class="form-control" id="exampleEmail" placeholder="Username">
                                        <label for="exampleEmail">Username</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span asp-validation-for="FirstName" class="form-error"></span>
                                            <div class="form-floating">
                                                <input asp-for="FirstName" type="text" class="form-control" id="exampleFirstName" placeholder="name@example.com">
                                                <label for="exampleFirstName">First Name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span asp-validation-for="LastName" class="form-error"></span>
                                            <div class="form-floating">
                                                <input asp-for="LastName" type="text" class="form-control" id="exampleLastName" placeholder="name@example.com">
                                                <label for="exampleLastName">Last Name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="PhoneNumber" class="form-error"></span>
                                    <div class="form-floating">
                                        <input asp-for="PhoneNumber" type="text" class="form-control" id="examplePhone" placeholder="Phone number">
                                        <label for="examplePhone">Phone Number</label>
                                    </div>
                                    <span asp-validation-for="Email" class="form-error"></span>
                                    <div class="form-floating">
                                        <input asp-for="Email" type="email" class="form-control" id="exampleEmail" placeholder="Email">
                                        <label for="exampleEmail">Email</label>
                                    </div>
                                    <span asp-validation-for="Password" class="form-error"></span>
                                    <div class="form-floating">
                                        <input asp-for="Password" type="password" class="form-control" id="examplePass" placeholder="Create Password">
                                        <label for="examplePass">Password</label>
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="form-error"></span>
                                    <div class="form-floating">
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" id="examplePass" placeholder="Confirm Password">
                                        <label for="examplePass">Confirm Password</label>
                                    </div>
                                    <button type="submit" class="w-100 btn btn-lg btn-primary">Sign Up</button>
                                </form>
                                <p class="acclink">
                                    Already have an account?
                                    <a asp-action="Login">
                                        Sign in
                                        <i class="icofont">double_right</i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_FooterPartialTheme3.cshtml" />
    <!-- jQuery -->
    <script src="~/assets/plugins/common/common.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <!-- custom scripts -->
    <script src="~/main/js/scripts.js"></script>
</body>