﻿@model CarPooling.Models.Rating.RatingViewModel
<div class="row">
    <div class="row">
        <form asp-controller="Ratings" asp-action="Create">
            <div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="firstName">Rating User</label>
                            <input type="text" class="form-control text-muted" id="firstName" readonly placeholder="@Model.RatedUserUserName" value="@Model.RatedUserUserName">
                            <input asp-for="RatedUserId" hidden type="text" class="form-control text-muted" id="firstName" readonly value="@Model.RatedUserId">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="firstName">Rating from 1 to 5 </label>
                            <span asp-validation-for="RatingPoints" class="form-error"></span>
                            <input asp-for="RatingPoints" type="number" class="form-control text-muted" min="1" max="5" placeholder="Input Rating">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <span asp-validation-for="Comment" class="form-error"></span>
                        <textarea asp-for="Comment" class="form-control" id="Message" placeholder="Input your Comment"></textarea>
                        <input asp-for="TripId" hidden type="number" class="form-control text-muted" id="firstName" readonly value="@Model.TripId">
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="button button-dark tiny">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>