﻿<footer class="footer-div theme-1">
    <div class="footer-shape">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>

    <div class="footer-nav-div div-padding theme-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6  flex-justified">
                    <div class="footer-brand">
                        <a href="index.html"><img src="~/assets/customImages/logoSmall/LogoForFooter.png" alt="Logo"></a>
                    </div>
                    <div class="footer-text">
                        <p>Nulla justo neque, tincidunt id bibendum a, rhoncus et eros. Vestibulum commodo diam ut risus pulvinar consequat vitae a dui. Vivamus sed molestie diam. Maecenas vitae enim lacus.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 flex-justified" style="align-items: center;">
                    <h4>Useful links</h4>
                    <nav class="footer-navigation" style="line-height: 2.2;">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-controller="Trips" asp-action="Index">Trips</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-sm-6  flex-justified">
                    <h4>Head Office</h4>
                    <address class="company-address">
                        <p class="m-b-8">Alexander Malinov Campus X - Sofia, Bulgaria </p>
                        <p class="m-b-8">Phone Number : (+1) 123 4567 890</p>
                        <p class="m-b-8">Email Address :Tripsy@gmail.com</p>
                    </address>
                </div>
                <div class="col-lg-3 col-sm-6  flex-justified">
                    <div class="cta-button">
                        <a asp-controller="Account" asp-action="Register" class="button button-dark">Sign Up</a>
                        <a asp-controller="Account" asp-action="Login" class="button button-dark">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>&copy; Copyright 2021 - Tripsy. All Right Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>