﻿<footer class="theme-3">

    <div class="footer-nav-div div-padding theme-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  flex-justified">
                    <div class="footer-brand">
                        <a asp-controller="Home" asp-action="Index"><img src="~/assets/customImages/logoSmall/LogoForFooter.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6  flex-justified" style="align-items: center;">
                    <h4>Useful links</h4>
                    <nav class="footer-navigation" style="line-height: 2.2;">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-controller="Trips" asp-action="Index">Trips</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-sm-6  flex-justified">
                    <h4>Head Office</h4>
                    <address class="company-address">
                        <p class="m-b-8">Alexander Malinov Campus X - Sofia, Bulgaria </p>
                        <p class="m-b-8">Phone Number : (+1) 123 4567 890</p>
                        <p class="m-b-8">Email Address :Tripsy@gmail.com</p>
                    </address>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cta-button">
                        <a asp-controller="Account" asp-action="Register" class="button button-dark">Sign Up</a>
                        <a asp-controller="Account" asp-action="Login" class="button button-dark">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-div theme-2  flex-justified">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>&copy; Copyright 2021 - Tripsy. All Right Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>