﻿@using Microsoft.AspNetCore.Http;
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["UserId"] = this.Context.Session.GetString("UserId");
    this.ViewData["CurrentUser"] = this.Context.Session.GetString("CurrentUser");
    this.ViewData["UserRole"] = this.Context.Session.GetString("UserRole");
}
@await Component.InvokeAsync("Chat")
<header class="theme-1">
    <div class="header__upper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header__upper--left">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index"><img height="45" src="~/assets/customImages/logoSmall/logoSmallColor.png" alt=""></a>
                        </div>
                        <div class="search-bar">
                            <form class="form">
                                <span class="icon icon-left"><i class="fas fa-map-marker-alt"></i></span>
                                <input class="form-control" type="search" name="destination" placeholder="Tell us your destination" id="search-bar">
                                <button asp-controller="Trips" asp-action="FilterByDestination" class="button button-dark" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header__upper--right">
                        <nav class="navigation">
                            <ul>
                                <li><a asp-controller="Trips" asp-action="Index">Trips</a></li>
                                <li><a asp-controller="Home" asp-action="About">About</a></li>
                                <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                                <li><a asp-controller="Users" asp-action="Index">Users</a></li>
                                @if (!(bool)ViewData["IsAuthenticated"])
                                {
                                    <li><a asp-controller="Account" asp-action="Login">Sign in</a></li>
                                    <li><a asp-controller="Account" asp-action="Register">Sign Up</a></li>
                                }
                                else
                                {
                                    <li>
                                        <div class="media-body">
                                            <h6 class="m-0"><a asp-controller="Users" asp-action="Dashboard">@this.ViewData["CurrentUser"].ToString()</a></h6>
                                        </div>
                                    </li>
                                    <li><a asp-controller="Account" asp-action="Logout">Log Out</a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
