﻿@model CarPooling.Service.ResponseModels.TripResponseModel

<td>
    @if (Model.AirConditioner.Equals(true))
    {<img height="24" src="~/assets/customImages/Icons/AirConditioner.png" /><span>&nbsp;</span> }
    else
    {<img height="24" src="~/assets/customImages/Icons/NoAirConditioner.png" /><span>&nbsp;</span> }
    @if (Model.SmokingAllowed.Equals(true))
    {<img height="24" src="~/assets/customImages/Icons/Smoking.png"/><span>&nbsp;</span> }
    else
    {<img height="24" src="~/assets/customImages/Icons/NoSmoking.png" /><span>&nbsp;</span> }
    @if (Model.PetsAllowed.Equals(true))
    {<img height="24" src="~/assets/customImages/Icons/PetsAllowed.png" />}
    else
    {<img height="24" src="~/assets/customImages/Icons/PetsNotAllowed.png" />}
</td>