﻿<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tripsy - @ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon.png" />
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="stylesheet" href="~/assets/plugins/OwlCarousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/metismenu/css/metisMenu.min.css" />
    <link rel="stylesheet" href="~/main/css/style.css" />
    <link rel="stylesheet" href="~/main/css/custom2.css" />
    <link rel="stylesheet" href="~/fonts_awesome/css/all.css" />

</head>
    @RenderBody()
</html>