﻿@model ErrorViewModel
@{ ViewData["Title"] = "Error"; }
<body class="theme-2">
    <partial name="~/Views/Shared/_HeaderPartial.cshtml" />
    <div class="div-padding personal-information-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-5" >
                    <img style="float: right; margin-right: 4rem; height: 270px;" src="@Url.Content(Model.ImageUrl)" />
                </div>
                <div class="col-lg-6" style="float:left">
                    <h1 style="font-size: 200px; padding-top: 70px;">@Model.StatusCode</h1>
                    <h1 style=" color: black; padding-top: 70px; font-size: 40px; ">@Model.Message</h1>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_FooterPartialTheme1.cshtml" />
</body>
