﻿@model CarPooling.Models.ContactUsViewModel;

@if (ViewBag.Message == null)
{
    <div class="row" style="padding: 30px; background-color: #F7F7F6;">

        <form method="post">
            <div class="row">

                <h2>Send us an Email</h2>
                <div class="col-lg-6">
                    <span asp-validation-for="Name" class="form-error"></span>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <span asp-validation-for="Email" class="form-error"></span>
                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <span asp-validation-for="PhoneNumber" class="form-error"></span>
                    <div class="form-group">
                        <label asp-for="PhoneNumber">Phone Number</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <span asp-validation-for="Subject" class="form-error"></span>
                    <div class="form-group">
                        <label asp-for="Subject">Subject</label>
                        <input asp-for="Subject" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-12">
                    <span asp-validation-for="Name" class="form-error"></span>
                    <div class="form-group">
                        <label asp-for="Message">Message</label>
                        <textarea rows="5" cols="15"
                                  asp-for="Message" class="form-control"></textarea>
                    </div>
                </div>

                <div class="col-lg-12">
                    <button type="submit"
                            class="button button-dark tiny">
                        Send
                    </button>
                </div>

            </div>
        </form>
    </div>
}

<div>
    <div>
        @if (ViewBag.Message != null)
        {
            <div class="fs-4" style="text-align: center">@ViewBag.Message</div>
        }
    </div>
</div>


