@{ ViewData["Title"] = "About"; }
<body class="theme-1">
    <partial name="~/Views/Shared/_HeaderPartial.cshtml" />
    <div class="breadcrumb-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ol class="breadcrumb">
                        <li><a asp-controller="Trips" asp-action="Index">Ride with Tripsy</a></li>
                    </ol>
                </div>
                <div class="col-6">
                    <div class="text-end">
                        <h2>About us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-us-area div-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="padding-right: 4rem;">
                    <h2 class="div-title">About us</h2>
                    <div class="about-us-text">
                        <h4>Tripsy is the best platform for carpooling.</h4>
                        <p>Curabitur placerat cursus nisi nec pharetra. Proin quis tortor fringilla, placerat nisi nec, auctor ex. Donec commodo orci ac lectus mattis, sed interdum sem scelerisque. Vivamus at euismod magna. Aenean semper risus nec dolor bibendum cursus. Donec eu odio eu ligula sagittis fringilla. Phasellus vulputate velit eu vehicula auctor. Nam vel pellentesque libero. Duis eget efficitur dui. Mauris tempor ex non tortor aliquet, et interdum mi dapibus. Phasellus ac dui nunc. Sed quis sagittis lorem, in blandit nibh. Fusce dui metus, interdum ac malesuada eu, ornare nec neque. Fusce hendrerit, tortor id egestas rutrum, orci lorem lacinia velit, sed mollis augue diam eget ipsum. Curabitur euismod, tellus sit amet tincidunt semper, dui odio pharetra orci, sed molestie odio libero sed libero. Sed volutpat ornare mauris. Sed gravida pulvinar urna, eget euismod mi mattis a. Vivamus sagittis eu quam sed ullamcorper. Etiam aliquet ornare tempus. Maecenas dictum nunc ac tortor rutrum, quis sollicitudin libero feugiat. Mauris iaculis sed risus ut tempus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-padding counter-area">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 col-6">
                    <div class="single-counter">
                        <div class="counter-icon">
                            <img src="~/assets/customImages/Icons/AboutPageIcons/RoadIcon.png" alt="">
                        </div>
                        <h2>
                            <span class="counter">@Model.TripsCount</span>
                        </h2>
                        <p class="counter-text">Trips</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="single-counter">
                        <div class="counter-icon">
                            <img src="~/assets/customImages/Icons/AboutPageIcons/Cities.png" alt="">
                        </div>
                        <h2>
                            <span class="counter">@Model.CitiesCount</span> +
                        </h2>
                        <p class="counter-text">Cities</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="single-counter">
                        <div class="counter-icon">
                            <img src="~/assets/customImages/Icons/AboutPageIcons/Users.png" alt="">
                        </div>
                        <h2>
                            <span class="counter">@Model.UsersCount</span>
                        </h2>
                        <p class="counter-text">Users</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="single-counter">
                        <div class="counter-icon">
                            <img src="~/assets/customImages/Icons/AboutPageIcons/Positive.png" alt="">
                        </div>
                        <h2>
                            <span class="counter">@Model.PositiveRatingsCount</span>
                        </h2>
                        <p class="counter-text">Positive Ratings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-padding how-work-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h2 class="div-title text-center">How Does It Work</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 d-none d-lg-block">
                    <div class="icons-div">
                        <div class="single-icon">
                            <img src="~/assets/customImages/Icons/HomePageIcons/CarIcon.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="~/assets/customImages/Icons/HomePageIcons/MoneyIcon.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="~/assets/customImages/Icons/HomePageIcons/SharingIcon.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="~/assets/customImages/Icons/HomePageIcons/DestinationIcon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-icon text-center m-b-10 d-block d-lg-none">
                        <img src="~/assets/customImages/Icons/HomePageIcons/CarIcon.png" alt="">
                    </div>
                    <div class="how-work-text">
                        <h4>Share your ride</h4>
                        <p>Curabitur ac quam aliquam urna vehicula semper sed vel elit. Sed et leo purus. Vivamus vitae sapien.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-icon text-center m-b-10 d-block d-lg-none">
                        <img src="~/assets/customImages/Icons/HomePageIcons/MoneyIcon.png" alt="">
                    </div>
                    <div class="how-work-text">
                        <h4>Share the gas money</h4>
                        <p>Curabitur ac quam aliquam urna vehicula semper sed vel elit. Sed et leo purus. Vivamus vitae sapien.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-icon text-center m-b-10 d-block d-lg-none">
                        <img src="~/assets/customImages/Icons/HomePageIcons/SharingIcon.png" alt="">
                    </div>
                    <div class="how-work-text">
                        <h4>Talk to eachother</h4>
                        <p>Curabitur ac quam aliquam urna vehicula semper sed vel elit. Sed et leo purus. Vivamus vitae sapien.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-icon text-center m-b-10 d-block d-lg-none">
                        <img src="~/assets/customImages/Icons/HomePageIcons/DestinationIcon.png" alt="">
                    </div>
                    <div class="how-work-text">
                        <h4>Arrive safely</h4>
                        <p>Curabitur ac quam aliquam urna vehicula semper sed vel elit. Sed et leo purus. Vivamus vitae sapien.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-padding team-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h2 class="div-title text-center">The Duo Behind Tripsy</h2>
                </div>
            </div>

            <div class="row" style="justify-content:center">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-team-member">
                        <div class="member-img">
                            <img src="~/assets/customImages/MiroslavPetrov.jpg" alt="">
                        </div>
                        <div class="member-info">
                            <h4 class="member-name">Miroslav Petrov</h4>
                            <p class="theme-color">Co-Founder and CEO</p>
                            <p>Duis leo ipsum, consequat sollicitudin enim id, accumsan condimentum felis. Donec nisl dolor, malesuada tincidunt ultricies et.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-team-member">
                        <div class="member-img">
                            <img height="438" src="~/assets/customImages/MihailMatov.jpg" alt="">
                        </div>
                        <div class="member-info">
                            <h4 class="member-name">Mihail Matov</h4>
                            <p class="theme-color">Co-Founder and CEO</p>
                            <p>Duis leo ipsum, consequat sollicitudin enim id, accumsan condimentum felis. Donec nisl dolor, malesuada tincidunt ultricies et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_FooterPartialTheme1.cshtml" />
    <!-- jQuery -->
    <script src="~/assets/plugins/common/common.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/assets/plugins/counterup/jquery.counterup.min.js"></script>
    <script src="~/assets/plugins/counterup/waypoints.min.js"></script>
    <!-- custom scripts -->
    <script src="~/main/js/scripts.js"></script>
</body>