@{ ViewData["Title"] = "Contacts"; }

<body class="theme-1">
    <partial name="~/Views/Shared/_HeaderPartial.cshtml" />
    <div class="breadcrumb-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ol class="breadcrumb">
                        <li><a asp-controller="Trips" asp-action="Index">Ride with Tripsy</a></li>
                    </ol>
                </div>
                <div class="col-6">
                    <div class="text-end">
                        <h2>Contact us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-padding contact-info-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-contact-info text-center">
                        <img src="~/assets/customImages/Icons/Address.png" alt="icon">
                        <h4>Address</h4>
                        <p>Address : Alexander Malinov, Campus X,<br> - Sofia, Bulgaria</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-contact-info text-center">
                        <img src="~/assets/customImages/Icons/ContactUsIcon.png" alt="icon">
                        <h4>Phone number</h4>
                        <p>Phone : +911234567890,<br> +919581236897</p>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-0 col-sm-6 offset-sm-3">
                    <div class="single-contact-info text-center">
                        <img src="~/assets/customImages/Icons/Email.png" alt="icon">
                        <h4>E-mail</h4>
                        <p>Email : Tripsy@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-padding contact-form-div p-t-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    @await Html.PartialAsync("_ContactUsFormPartial", new ContactUsViewModel())
                </div>
                <div class="col-lg-6">
                    <div class="mapouter" style="float: right;">
                        <div class="gmap_canvas">
                            <iframe width="500" height="600" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=Alexander%20Malinov%20Campus%20X%20-%20Sofia,%20Bulgaria&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 620px;
                                    width: 550px;
                                }
                            </style>
                            <style>
                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 620px;
                                    width: 550px;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_FooterPartialTheme1.cshtml" />
    <!-- jQuery -->
    <script src="~/assets/plugins/common/common.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/assets/plugins/counterup/waypoints.min.js"></script>
    <script src="~/assets/plugins/counterup/jquery.counterup.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>