﻿@{ ViewData["Title"] = "Home"; }
@model CarPooling.Models.HomePageViewModel
<body class="theme-1">
    <partial name="~/Views/Shared/_HeaderPartial.cshtml" />
    <div class="hero-area hero-bg-light-yellow">
        <div class="hero-blob">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="visual" viewBox="0 0 960 540" width="960" height="540" version="1.1"><g transform="translate(-19.958786364683874 -119.45603407032678)"><path d="M354.6 -312.6C469.8 -239.5 580.4 -119.7 623.9 43.5C667.5 206.8 644 413.7 528.8 530.7C413.7 647.7 206.8 674.8 3 671.8C-200.8 668.8 -401.6 635.6 -506 518.6C-610.3 401.6 -618.2 200.8 -591.3 26.9C-564.4 -147.1 -502.8 -294.2 -398.5 -367.3C-294.2 -440.4 -147.1 -439.6 -13.7 -425.9C119.7 -412.2 239.5 -385.7 354.6 -312.6" fill="#f7bc00" /></g></svg>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="hero-area-slider" class="hero-area-slider owl-carousel">
                        <div class="single-slider-item">
                            <div class="hero-area-left safecentered">
                                <h1>Ride. Connect. Share expenses</h1>
                                <p>Sign up and share your ride with other peope.</p>
                                <a asp-controller="Account" asp-action="Register" class="button button-dark big">Sign up Now</a>
                            </div>
                            <div class="hero-area-right">
                                <img src="~/assets/customImages/HomePage/HomePagePhoto2.jpg" alt="">
                            </div>
                        </div>
                        <div class="single-slider-item">
                            <div class="hero-area-left safecentered">
                                <h1>Travel together.</h1>
                                <p>Make the most out of your trip.</p>
                                <a asp-controller="Account" asp-action="Register" class="button button-dark big">Sign up Now</a>
                            </div>
                            <div class="hero-area-right">
                                <img src="~/assets/customImages/HomePage/HomePagePhoto3.jpg" alt="">
                            </div>
                        </div>
                        <div class="single-slider-item">
                            <div class="hero-area-left safecentered">
                                <h1>Share moments.</h1>
                                <p>Find new friends.</p>
                                <a asp-controller="Account" asp-action="Register" class="button button-dark big">Sign up Now</a>
                            </div>
                            <div class="hero-area-right">
                                <img src="~/assets/customImages/HomePage/HomePagePhoto1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-padding how-work-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h2 class="div-title text-center">How It Works</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 d-none d-lg-block">
                    <div class="icons-div">
                        <div class="single-icon">
                            <img src="~/assets/customImages/Icons/HomePageIcons/SharingIcon.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="~/assets/customImages/Icons/HomePageIcons/MoneyIcon.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="~/assets/customImages/Icons/HomePageIcons/CarIcon.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="~/assets/customImages/Icons/HomePageIcons/DestinationIcon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-icon text-center m-b-10 d-block d-lg-none">
                        <img src="~/assets/customImages/Icons/HomePageIcons/SharingIcon.png" alt="">
                    </div>
                    <div class="how-work-text">
                        <h4>Share you ride</h4>
                        <p>Curabitur ac quam aliquam urna vehicula semper sed vel elit. Sed et leo purus. Vivamus vitae sapien.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-icon text-center m-b-10 d-block d-lg-none">
                        <img src="~/assets/customImages/Icons/HomePageIcons/MoneyIcon.png" alt="">
                    </div>
                    <div class="how-work-text">
                        <h4>Share the gas money</h4>
                        <p>Curabitur ac quam aliquam urna vehicula semper sed vel elit. Sed et leo purus. Vivamus vitae sapien.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-icon text-center m-b-10 d-block d-lg-none">
                        <img src="~/assets/customImages/Icons/HomePageIcons/CarIcon.png" alt="">
                    </div>
                    <div class="how-work-text">
                        <h4>Talk to eachother</h4>
                        <p>Curabitur ac quam aliquam urna vehicula semper sed vel elit. Sed et leo purus. Vivamus vitae sapien.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-icon text-center m-b-10 d-block d-lg-none">
                        <img src="~/assets/customImages/Icons/HomePageIcons/DestinationIcon.png" alt="">
                    </div>
                    <div class="how-work-text">
                        <h4>Arrive safely</h4>
                        <p>Curabitur ac quam aliquam urna vehicula semper sed vel elit. Sed et leo purus. Vivamus vitae sapien.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-us-area bg-2 div-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="padding-right: 4rem;">
                    <h2 class="div-title">About us</h2>
                    <div class="about-us-text">
                        <h4>Tripsy is the best platform for carpooling.</h4>
                        <p>Curabitur placerat cursus nisi nec pharetra. Proin quis tortor fringilla, placerat nisi nec, auctor ex. Donec commodo orci ac lectus mattis, sed interdum sem scelerisque. Vivamus at euismod magna. Aenean semper risus nec dolor bibendum cursus. Donec eu odio eu ligula sagittis fringilla. Phasellus vulputate velit eu vehicula auctor. Nam vel pellentesque libero. Duis eget efficitur dui. Mauris tempor ex non tortor aliquet, et interdum mi dapibus. Phasellus ac dui nunc. Sed quis sagittis lorem, in blandit nibh.</p>
                        <a asp-controller="Home" asp-action="About" class="button button-dark tiny">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-padding testimonial-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h2 class="div-title text-center">Top Organizers</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div id="testimonial-carousel-1" class="testimonial-carousel owl-carousel">
                        @{var currentPerson = 1; } 
                        @foreach (var driver in Model.TopOrganizers)
                        {
                            <div class="single-testimonial-item text-center">
                                <div class="top-organisers" style="margin:5px; padding:5px;">
                                    <p style="font-size: 35px; color: #F7BC00; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; ">#@currentPerson </p>
                                    @{ currentPerson++;}
                                    <div class=" flex-centered" style="padding-top: 10px;">
                                        @if (driver.ProfilePicture == null)
                                        {
                                            <img class="rounded-image client-img" height="100" src="~/DefaultProfilePic.jpg" alt="">
                                        }
                                        else
                                        {
                                            <img class="rounded-image client-img" height="100" src="@driver.ProfilePicture" alt="">
                                        }
                                    </div>

                                    <p class="blog-time">
                                        <div class="@driver.UserName-rating">
                                            <div class="stars-outer">
                                                <div class="stars-inner" style="width:@((Math.Round(((double)driver.RatingPoints / 5 * 100) / 10) * 10) + "%")">
                                                </div>
                                            </div>
                                        </div>
                                    <p style="color: gray; font-size: 15px;">Rating - @driver.RatingPoints/5</p>
                                    <p class="testimonial-text">Rides as driver &nbsp; <i class="fas fa-car-side "></i> @driver.TripAsDriver</p>
                                    <h4 class="client-name" style=" padding: 0 0 20px 0;">@driver.FirstName @driver.LastName</h4>
                                    <a asp-controller="Users" asp-action="Profile" asp-route-id="@driver.UserId" class="theme-color" style="padding:10px 0 0 0; margin: 0; font-size: 20px">View Profile</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-padding blog-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h2 class="div-title text-center">Top Passengers</h2>
                </div>
            </div>

            <div class="row">
                @foreach (var passenger in Model.TopPassengers.Take(3).OrderByDescending(x => x.RatingPoints))
                {


                    <div class="col-lg-4 col-sm-6">
                        <div class="single-blog-item">
                            <div class="flex-centered" style="margin-top: 20px;">
                                @if (passenger.ProfilePicture == null)
                                {
                                    <img class="rounded-image" style="width: 300px; height: 300px; object-fit: fill; " src="~/DefaultProfilePic.jpg" alt="">
                                }
                                else
                                {
                                    <img class="rounded-image" style="width: 300px; height: 300px; object-fit: fill; " src="@passenger.ProfilePicture" alt="">
                                }
                            </div>
                            <div class="blog-text">
                                <div class="row">
                                    <h4 class="blog-heading" style="margin-bottom: 10px;">@passenger.FirstName @passenger.LastName</h4>
                                    <div class="col-lg-6">
                                        <div class="@passenger.UserName-rating">
                                            <div class="stars-outer">
                                                <div class="stars-inner" style="width:@((Math.Round(((double)passenger.RatingPoints / 5 * 100) / 10) * 10) + "%")">
                                                </div>
                                            </div>
                                        </div>
                                        <p>Rating: @passenger.RatingPoints / 5</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-6 ">
                                                <p style="margin:0;">Rides as </p>
                                                <p style="margin:0;"> passenger &nbsp; </p>
                                            </div>
                                            <div class="col-lg-6 safecentered">
                                                <i class="fas fa-car-side fa-2x" style="font-size: 20px;"> @passenger.TripsAsPassanger </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" flex-centered">
                                    <a  asp-controller="Users" asp-action="Profile" asp-route-id="@passenger.UserId" class="button button-dark tiny">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_FooterPartialTheme1.cshtml" />

    <!-- jQuery -->
    <script src="assets/plugins/common/common.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="assets/plugins/counterup/waypoints.min.js"></script>
    <script src="assets/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- custom scripts -->
    <script src="main/js/scripts.js"></script>
</body>