﻿body {
}

.checkboxes {
    position: relative;
    left: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.centered{
    text-align: center;
}

.flex-centered {
    display:flex;
    justify-content:center;
}

.flex-justified {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.safecentered{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
}

.margin-bottom{
    margin-bottom: 2rem;
}

.example::-webkit-scrollbar {
    display: none;
}

.form-check-input:hover {
    background-color: dimgray;
}
.form-check-input:active {
    background-color: dimgray;
}

.form-check-input:checked {
    background-color: dimgray;
    border-color: dimgray;
}

.form-check-input:focus {
    outline-color: dimgray;
}

.input[type=checkbox] {
    border-radius: .25em;
}

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
}


.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
}

.linegap{
    line-height: 1.5;
}

/*for hoverable info*/

/*<div class="tooltip-wrap" >
<img src="/some/image/file.jpg" alt="Some Image" / >
<div class="tooltip-content" >
<p > Here is some content for the tooltip</p >
</div >
</div >
*/
td {
    margin-top: auto;
    margin-bottom: auto;
}

.tooltip-wrap {
    position: relative;
}

.tooltip-wrap .tooltip-content {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: #fff;
    padding: .5em;
}

.tooltip-wrap:hover .tooltip-content {
    display: block;
}

.top-organisers {
    background-color: #FFFBEE;
    /*border: 2px ridge rgba(56,56,56, 0.5);*/
    border: ridge 1px gray;
}

.rounded-image{
    border-radius: 5px;
}

.page-title {
    font-weight: 500;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
}
th.sortable {
    cursor: pointer;
    text-decoration: underline;
}

    th.sortable:hover {
        color: gray;
    }

th.sorted-asc, th.sorted-desc {
    color: darkgoldenrod;
}

