@charset "UTF-8";
/*
Template Name: CarrGo
Developer: Studio Radiuzz
Author: Shail   
skype: shail_
email: studioradiuzz@gmail.com


Table of Contents

1. Global
    1.1. variable.scss
    1.2. fonts.scss
    1.3. reset.scss


*/
/*
0 - 768: Phone
600 - 900: Tablet portrait
900 - 1200: Tablet landscape
1200 - 1800: Normal styles
1800+ : Big Desktop

1em = 16px

The smaller device rules always should write below the bigger device rules

Fixing Order => Base + Typography >> General Layout + Grid >> Page Layout + Component
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url(../icons/font-awesome/css/all.min.css);
@import url(../icons/icofont/css/icofont.min.css);
@import "../../assets/plugins/bootstrap/css/bootstrap.min.css";
@import "../../assets/plugins/shortcode/shortcode.css";
@import "../../assets/plugins/animate/animate.css";
@import "../../assets/plugins/metismenu/css/metisMenu.min.css";
* {
  outline: none;
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  color: #847577;
  position: relative;
}
    body.theme-1 {
        padding-top: 69px;
    }
@media only screen and (max-width: 991px) {
  body.theme-1 {
    padding-top: 69px;
  }
}
@media only screen and (max-width: 767px) {
  body.theme-1 {
    padding-top: 133px;
  }
}
@media only screen and (max-width: 575px) {
  body.theme-1 {
    padding-top: 107px;
  }
}
body.theme-2 {
  padding-top: 69px;
}
@media only screen and (max-width: 991px) {
  body.theme-2 {
    padding-top: 143px;
  }
}
@media only screen and (max-width: 767px) {
  body.theme-2 {
    padding-top: 143px;
  }
}
@media only screen and (max-width: 575px) {
  body.theme-2 {
    padding-top: 110px;
  }
}
body.theme-3 {
  padding-top: 160px;
}
@media only screen and (max-width: 991px) {
  body {
    padding-top: 97px;
  }
}

#main-wrapper {
  opacity: 0;
  transition: all 0.25s ease-in;
}

#main-wrapper.show {
  opacity: 1;
}

p {
  font-size: 14px;
  color: #847577;
}

a {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

a:focus,
a:hover {
  text-decoration: none;
}

a.link {
  color: #454545;
}

a.link:focus,
a.link:hover {
  color: #F7BC00;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: inline-block;
}

.img-rounded {
  border-radius: 4px;
}

.img-flag {
  height: 15px;
  width: 18px;
}

.img-full {
  width: 100%;
}

.mdi-set,
.mdi:before {
  line-height: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #3B3B3B;
}

h1 {
  line-height: 40px;
  font-size: 36px;
}

h2 {
  line-height: 36px;
  font-size: 24px;
}
@media only screen and (max-width: 575px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  line-height: 30px;
  font-size: 21px;
}

h4 {
  line-height: 22px;
  font-size: 18px;
}
@media only screen and (max-width: 575px) {
  h4 {
    font-size: 15px;
  }
}

h5 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
}

h6 {
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
}

.display-5 {
  font-size: 30px;
}

.display-6 {
  font-size: 36px;
}

.box {
  border-radius: 4px;
  padding: 10px;
}

.img-circle {
  border-radius: 100%;
}

.content-body {
  padding: 30px 0 15px;
}

.c-pointer {
  cursor: pointer;
}

.rotate-90 {
  transform: rotate(90deg);
}

.jqstooltip {
  box-sizing: content-box;
}

.l-border-1 {
  border: 1px solid #e1e1e1;
}

.d-border-1 {
  border: 1px solid #e1e1e1;
}

.footer p {
  font-size: 12px;
}

.border-white-2 {
  border: 2px solid #fff;
}

.border-bottom-1 {
  border-bottom: 1px solid #e1e1e1;
}

.border-top-1 {
  border-top: 1px solid #e1e1e1;
}

.border-right-1 {
  border-right: 1px solid #e1e1e1;
}

.border-left-1 {
  border-left: 1px solid #e1e1e1;
}

.dark-overlay-1 {
  background: rgba(0, 0, 0, 0.1);
}

.dark-overlay-2 {
  background: rgba(0, 0, 0, 0.2);
}

.dark-overlay-3 {
  background: rgba(0, 0, 0, 0.3);
}

.dark-overlay-4 {
  background: rgba(0, 0, 0, 0.4);
}

.dark-overlay-5 {
  background: rgba(0, 0, 0, 0.5);
}

.dark-overlay-6 {
  background: rgba(0, 0, 0, 0.6);
}

.dark-overlay-7 {
  background: rgba(0, 0, 0, 0.7);
}

.dark-overlay-8 {
  background: rgba(0, 0, 0, 0.8);
}

.dark-overlay-9 {
  background: rgba(0, 0, 0, 0.9);
}

.div-padding {
  padding: 80px 0;
}
@media only screen and (max-width: 991px) {
  .div-padding {
    padding: 50px 0;
  }
}

.div-title {
  margin-bottom: 50px;
  position: relative;
  font-weight: 800;
}
.div-title:after {
  position: absolute;
  left: 0;
  top: 110%;
  background-image: url(../../assets/customImages/RoadDashLine.png);
  height: 12px;
  width: 60px;
  content: "";
}
.div-title.text-center:after {
  left: calc(50% - 30px);
}

button:focus, a:focus, a:link:focus {
  outline: none;
}

input:focus, textarea:focus {
  box-shadow: none;
}

img {
  max-width: 100%;
}

.bg-2 {
  background-color: #FEFBF0;
}

.theme-color {
  color: #F7BC00;
}

.striped-bg {
  background-image: url(../../assets/customImages/Background.jpg);
}

.bg-gray {
  background-color: #F7F7F6;
}

.button {
  display: inline-block;
  padding: 20px 25px;
  border: none;
  transition: 0.2s;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  line-height: 0.8;
}
.button.big {
  text-align: center;
  text-transform: uppercase;
}
.button.tiny {
  width: 130px;
  text-align: center;
}
.button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.button-dark {
  background-color: #3B3B3B;
  color: #fff;
  position: relative;
}

.button-light {
  background-color: #F7BC00;
  color: #fff;
}

.owl-carousel .owl-item img {
  width: auto;
}

.owl-carousel .single-driver-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.single-driver-info {
  background-color: #F7F7F6;
}
.single-driver-info .card {
  background-color: #F7F7F6;
  border-color: #E4E2DF;
  border-radius: 0;
}
.single-driver-info .contact-number {
  margin-top: 10px;
}
.single-driver-info p {
  margin: 0;
}
.single-driver-info a {
  color: #3B3B3B;
}

.driver-carousel {
  margin-top: 80px;
}

.driver-carousel-wrapper {
  position: relative;
}
.driver-carousel-wrapper .owl-nav button {
  position: absolute;
  right: 100%;
  display: inline-block;
  top: calc(50% - 25px);
  width: 80px;
}
.driver-carousel-wrapper .owl-nav button i {
  margin: 3px;
}
.driver-carousel-wrapper .owl-nav button:hover {
  color: #F7BC00;
}
.driver-carousel-wrapper .owl-nav button.owl-next {
  right: auto;
  left: 100%;
}

.hero-bg-light-yellow {
  background-color: #FFCC77;
}

.hero-bg-dark-yellow {
  background-color: #FBB700;
}

.hero-area {
  position: relative;
  height: 750px;
  display: flex;
  align-items: center;
}
.hero-area svg {
  position: absolute;
  width: 1400px;
  height: 750px;
  fill: #fff;
}
@media only screen and (max-width: 575px) {
  .hero-area {
    padding-top: 90px;
  }
  .hero-area svg {
    position: absolute;
    width: 300px;
    height: 750px;
    fill: #fff;
  }
}
.hero-area .hero-area-slider {
  position: relative;
}
.hero-area .hero-area-slider .owl-dots {
  text-align: center;
  position: absolute;
  top: 120%;
  display: block;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .hero-area .hero-area-slider .owl-dots {
    top: 96%;
  }
}
.hero-area .hero-area-slider .owl-dots button.owl-dot {
  width: 12px;
  height: 12px;
  background-color: transparent;
  margin: 5px;
  border-radius: 50px;
  border: 1px solid #3B3B3B;
}
.hero-area .hero-area-slider .owl-dots button.owl-dot.active {
  background-color: #F3C946;
  border: 1px solid #AD8400;
}
.hero-area .hero-area-slider .single-slider-item {
  display: flex;
}
@media only screen and (max-width: 575px) {
  .hero-area .hero-area-slider .single-slider-item {
    flex-wrap: wrap;
  }
}
.hero-area .hero-area-slider .single-slider-item h1 {
  font-size: 52px;
  line-height: 56px;
  font-weight: 700;
}
@media only screen and (max-width: 575px) {
  .hero-area .hero-area-slider .single-slider-item h1 {
    font-size: 39px;
    font-weight: 700;
  }
}
.hero-area .hero-area-slider .single-slider-item p {
  color: #3B3B3B;
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 400;
}
.hero-area .hero-area-slider .single-slider-item .hero-area-left {
  flex-basis: 40%;
}
@media only screen and (max-width: 575px) {
  .hero-area .hero-area-slider .single-slider-item .hero-area-left {
    flex-basis: 100%;
    text-align: center;
  }
}
.hero-area .hero-area-slider .single-slider-item .hero-area-right {
  flex-basis: 60%;
}
@media only screen and (max-width: 575px) {
  .hero-area .hero-area-slider .single-slider-item .hero-area-right {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .hero-area .hero-area-slider .single-slider-item .hero-area-right img {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 575px) {
  .hero-area .hero-area-slider .single-slider-item .hero-area-right img {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.hero-blob {
  position: absolute;
  top: -3px;
  left: -13%;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(360deg);
}

.hero-blob svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 750px;
}
@media only screen and (max-width: 575px) {
  .hero-blob svg {
    width: calc(100% + 168px);
  }
}

@media only screen and (max-width: 991px) {
  .hero-area .hero-area-slider .single-slider-item .hero-area-left {
    flex-basis: 100%;
    text-align: center;
  }

  .hero-area .hero-area-slider .single-slider-item {
    flex-wrap: wrap;
  }

  .hero-area .hero-area-slider .single-slider-item .hero-area-right {
    flex-basis: 100%;
  }
}
.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.divider .shape-fill {
  fill: #FFFFFF;
}

.testimonial-area .single-testimonial-item {
  width: 60%;
  margin: 0 auto;
  background-color: #fff;
  padding: 45px 60px;
  position: relative;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  .testimonial-area .single-testimonial-item {
    width: 70%;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial-area .single-testimonial-item {
    width: 80%;
    padding: 30px 40px;
  }
}
@media only screen and (max-width: 575px) {
  .testimonial-area .single-testimonial-item {
    width: 100%;
  }
}
.testimonial-area .single-testimonial-item:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -2;
  top: 3%;
  left: 2%;
  width: 96%;
  height: 100%;
}
.testimonial-area .single-testimonial-item:before {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.7);
  top: 2%;
  left: 1%;
  width: 98%;
  height: 100%;
  z-index: -1;
}
.testimonial-area .single-testimonial-item .testimonial-text {
  margin: 20px 0;
}
@media only screen and (max-width: 575px) {
  .testimonial-area .single-testimonial-item .testimonial-text {
    word-break: break-all;
  }
}
.testimonial-area .single-testimonial-item img {
  width: auto;
  margin: 0 auto;
}
.testimonial-area .owl-nav {
  height: auto;
}
.testimonial-area .owl-nav button {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
}
.testimonial-area .owl-nav button > * {
  font-size: 17px;
  margin: 2px;
  color: #fff;
}
.testimonial-area .owl-nav button:hover > *, .testimonial-area .owl-nav button:active > *, .testimonial-area .owl-nav button:focus > * {
  color: #F7BC00;
}
.testimonial-area .owl-nav .owl-next {
  left: auto;
  right: 0;
}
.testimonial-area .owl-dots {
  text-align: center;
  margin-top: 40px;
}
.testimonial-area .owl-dots button.owl-dot {
  height: 12px;
  width: 12px;
  background-color: transparent;
  border: 1px solid rgba(254, 251, 240, 0.5);
  border-radius: 50px;
  margin: 5px;
}
.testimonial-area .owl-dots button.owl-dot.active {
  border-color: #F7BC00;
  background-color: #F7BC00;
}

.single-blog-item {
  border: 1px solid rgba(59, 59, 59, 0.2);
  background-color: #f1f1f1;
  border-radius: 15px;
}
@media only screen and (max-width: 991px) {
  .single-blog-item {
    margin-bottom: 20px;
  }
}
.single-blog-item:hover .blog-img img {
  transform: scale(1.1);
}
.single-blog-item .blog-img {
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}
.single-blog-item .blog-img img {
  transition: all 3s cubic-bezier(1, 1, 0, 0);
  width: 100%;
}
.single-blog-item .blog-text {
  padding: 20px;
}
.single-blog-item .blog-text p {
  margin-bottom: 30px;
}

.single-team-member {
  border: 1px solid rgba(59, 59, 59, 0.2);
}
@media only screen and (max-width: 991px) {
  .single-team-member {
    margin-bottom: 20px;
  }
}
.single-team-member .member-img img {
  width: 100%;
}
.single-team-member .member-info {
  padding: 20px;
}

.account-access .nav-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.account-access .nav-tabs li {
  flex-basis: 100%;
  text-align: center;
}
.account-access .nav-tabs li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  border-bottom: 2px solid transparent;
  background-color: #fff;
  color: #999;
}
.account-access .nav-tabs li a.active {
  color: #3B3B3B;
  border-color: #3B3B3B;
}
.account-access .user-access-form {
  margin-bottom: 30px;
}
.account-access .user-access-form input.form-control {
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 0;
  transition: all 0.3s;
}
.account-access .user-access-form input.form-control:focus {
  border-color: #F7BC00;
}
.account-access .acclink a {
  color: #3B3B3B;
}
.account-access .externel-signup a {
  text-align: center;
  color: #fff;
  padding: 10px;
}
.account-access .externel-signup a:first-child {
  margin-bottom: 30px;
  margin-top: 50px;
}
.account-access .externel-signup a.facebook {
  background-color: #3B5998;
}
.account-access .externel-signup a.google {
  background-color: #db4439;
}
.account-access .externel-signup a i {
  margin-right: 5px;
}

.signin-div, .signup-div {
  min-height: calc(100% - 209px);
}
@media only screen and (max-width: 1200px) {
  .signin-div, .signup-div {
    min-height: calc(100% - 200px);
  }
}

.single-service-item {
  text-align: center;
  padding: 45px 20px;
  border: 1px solid rgba(59, 59, 59, 0.2);
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .single-service-item {
    padding: 25px 20px;
  }
}
.single-service-item h4 {
  margin: 25px 0 15px;
}

.single-package-item {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
@media only screen and (max-width: 991px) {
  .single-package-item {
    margin-bottom: 20px;
  }
}
.single-package-item:hover .package-icon {
  background-color: #F7BC00;
}
.single-package-item:hover .package-icon span.icon-wrapper {
  background-color: #F7BC00;
}
.single-package-item:hover a.button-dark {
  background-color: #F7BC00;
}
.single-package-item .package-icon {
  position: relative;
  background-color: #3B3B3B;
  padding: 40px 0;
  position: relative;
}
.single-package-item .package-icon span.icon-wrapper {
  position: absolute;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  border: 3px solid #fff;
  line-height: 70px;
  background-color: #3B3B3B;
  left: calc(50% - 37px);
  text-align: center;
}
.single-package-item .package-details {
  padding: 75px 0 30px;
}
.single-package-item .package-details .div-title:after {
  top: 145%;
}
.single-package-item .package-details h2.package-price {
  margin-bottom: 30px;
  font-weight: 500;
}
.single-package-item .package-details h2.package-price span {
  font-size: 14px;
  font-weight: normal;
}
.single-package-item .package-details li {
  margin-bottom: 10px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #F7BC00;
}

.form-control {
  margin-bottom: 30px;
  border: 1px solid rgba(55, 55, 55, 0.1);
  border-radius: 0;
  font-size: 14px;
  padding: 10px;
}

textarea.form-control {
  height: 145px;
}

.contact-form-div h2 {
  margin-bottom: 50px;
}

.payment-options {
  display: flex;
  text-align: center;
  border: 1px solid rgba(59, 59, 59, 0.1);
  margin-bottom: 30px;
}
.payment-options input[type=radio] {
  display: none;
}
.payment-options .form-check-inline {
  flex-basis: 33.33%;
  margin: 0;
}
.payment-options input:checked + label {
  background-color: #F7BC00;
  color: #fff;
}
.payment-options label {
  width: 100%;
  display: block;
  padding: 10px;
}
@media only screen and (max-width: 575px) {
  .payment-options label {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.select-car-wrapper {
  margin-bottom: 50px;
}
.select-car-wrapper h2 {
  margin-bottom: 50px;
}

.car-options .form-check-inline {
  flex-direction: column;
  width: 19%;
  margin-right: 0;
}
@media only screen and (max-width: 575px) {
  .car-options .form-check-inline {
    width: 32%;
    margin-bottom: 15px;
  }
}
.car-options input[type=radio] {
  display: none;
}
.car-options input[type=radio]:checked + label {
  border-color: #F7BC00;
}
.car-options label {
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 1px solid rgba(59, 59, 59, 0.1);
  text-align: center;
  display: inline-block;
  line-height: 75px;
}

.destination {
  position: relative;
}
.destination .form-control {
  padding: 10px 10px 10px 25px;
}
.destination i {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

@media only screen and (max-width: 991px) {
  .booking-form {
    margin-bottom: 20px;
  }
}

.total-earning-table {
  background-color: #F7F7F6;
  margin-bottom: 30px;
}
.total-earning-table thead th:first-child {
  padding-left: 30px;
}
.total-earning-table tbody tr th {
  color: #3B3B3B;
  padding-left: 30px;
}
.total-earning-table tbody tr th small {
  color: #847577;
}

.message-box .phone-icon {
  padding: 3px 30px;
}
.message-box .phone-icon a {
  color: #847577;
}
.message-box .list-group-item {
  border-bottom: rgba(59, 59, 59, 0.2);
}
.message-box .form-control {
  margin-bottom: 0;
}
.message-box .search-form {
  position: relative;
}
.message-box .search-form .form-control {
  padding-left: 30px;
}
.message-box .search-form i {
  position: absolute;
  left: 9px;
  top: 16px;
}
.message-box .list-group-item {
  background-color: transparent;
}
.message-box .event-msg-left, .message-box .event-chat-ryt {
  background-color: #F7F7F6;
}
@media only screen and (max-width: 575px) {
  .message-box .event-msg-left, .message-box .event-chat-ryt {
    margin-bottom: 20px;
  }
}
.message-box .list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #F7BC00;
  color: #847577;
  border: none;
}
.message-box .chat-sender, .message-box .chat-reciver {
  max-width: 400px;
}
.message-box .chat-reciver {
  text-align: right;
  margin-left: auto;
}
.message-box .chat-reciver .media {
  margin-bottom: 15px;
  align-items: center;
}
.message-box .chat-reciver p {
  display: inline-block;
  padding: 10px;
  box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 0;
}
.message-box .chat-sender {
  text-align: left;
}
.message-box .chat-sender .media {
  margin-bottom: 15px;
  align-items: center;
}
.message-box .chat-sender p {
  display: inline-block;
  padding: 10px;
  background-color: #3D3E3E;
  color: #fff;
  margin: 0;
}
@media only screen and (max-width: 1200px) {
  .message-box .event-msg-left {
    margin-bottom: 20px;
  }
}
.message-box .event-msg-left .sidebar-heading {
  border-bottom: 1px solid rgba(59, 59, 59, 0.2);
}
.message-box .event-msg-left .sidebar-heading h4 {
  margin-bottom: 0;
}
.message-box .event-msg-left .list-group-item:first-child {
  padding: 0;
}
.message-box .event-msg-left .list-group-item:first-child .sidebar-heading, .message-box .event-msg-left .list-group-item:first-child .event-sideber-search {
  padding: 20px;
}

.vehicle-tab-nav ul {
  text-align: center;
  border: 0;
  margin-bottom: 50px;
  justify-content: center;
}
.vehicle-tab-nav ul a {
  padding: 10px;
  display: inline-block;
  color: #847577;
}
.vehicle-tab-nav ul a.active {
  background-color: #F7BC00;
  color: #fff;
}

#map-canvas {
  width: 100%;
  height: 340px;
}
@media only screen and (max-width: 991px) {
  #map-canvas {
    height: 200px;
  }
}

#onridemap {
  height: 730px;
  width: 100%;
}
@media only screen and (max-width: 575px) {
  #onridemap {
    height: 500px;
  }
}

#ride-map {
  width: 100%;
  height: 730px;
}
@media only screen and (max-width: 991px) {
  #ride-map {
    height: 500px;
  }
}
@media only screen and (max-width: 575px) {
  #ride-map {
    height: 400px;
  }
}

#contact-map {
  width: 100%;
  height: 365px;
}
@media only screen and (max-width: 991px) {
  #contact-map {
    height: 250px;
  }
}
@media only screen and (max-width: 575px) {
  #contact-map {
    height: 200px;
  }
}

@media only screen and (max-width: 991px) {
  .contact-us-map {
    margin-top: 20px;
  }
}

.header__upper {
  background-color: #fff;
  padding: 15px 0;
}
@media only screen and (max-width: 991px) {
  .header__upper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  }
}
.header__upper--left {
  display: flex;
  padding-top: 5px;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .header__upper--left {
    margin-bottom: 15px;
    justify-content: space-between;
  }
}
.header__upper--left .logo {
  margin-right: 45px;
}
@media only screen and (max-width: 575px) {
  .header__upper--left .logo {
    margin: 0;
  }
}
.header__upper--right {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 991px) {
  .header__upper--right {
    justify-content: space-evenly;
  }
}
.header__upper--right .navigation ul {
  margin: 0;
}
.header__upper--right .navigation li {
  display: inline-block;
}
.header__upper--right .navigation a {
  display: block;
  color: #3B3B3B;
  padding: 11px;
  transition: all 0.1s;
}
.header__upper--right .navigation a:hover {
  color: #F7BC00;
}
@media only screen and (max-width: 575px) {
  .header__upper--right .navigation a {
    padding: 2px;
  }
}
@media only screen and (max-width: 575px) {
  .header__upper--right .button {
    padding: 8px 12px;
    width: 128px;
    font-size: 11px;
  }
}

.header__lower {
  background-color: #3D3E3E;
}
.header__lower .navbar-nav .dropdown-menu {
  background-color: #383939;
}
.header__lower .dropdown-item {
  color: #fff;
}
.header__lower .dropdown-item:focus, .header__lower .dropdown-item:hover {
  color: #fff;
  background: #383939;
}
.header__lower .navbar-dark .navbar-nav .nav-item.active .nav-link {
  color: #F7BC00;
  border-color: #F7BC00;
  background-color: #383939;
}
.header__lower .navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 17px 20px;
  border-bottom: 2px solid transparent;
}
.header__lower .navbar-dark .navbar-nav .nav-link:hover {
  border-color: #F7BC00;
  background-color: #383939;
}
.header__lower .navbar-dark .navbar-nav .nav-link:hover i {
  color: #F7BC00;
}
.header__lower .navbar-dark .navbar-nav .nav-link i, .header__lower .navbar-dark .navbar-nav .nav-link img {
  margin-right: 10px;
}
.header__lower .button {
  padding-top: 23px;
  padding-bottom: 23px;
}
@media only screen and (max-width: 575px) {
  .header__lower {
    margin-top: 9px;
  }
  .header__lower .navbar-nav {
    margin-top: 10px;
  }
  .header__lower .navbar-dark .navbar-nav .nav-link i {
    padding: 0px 5px;
  }
}

.search-bar {
  position: relative;
  width: 400px;
}
@media only screen and (max-width: 767px) {
  .search-bar {
    width: 182px;
    line-height: 32px;
  }
}
.search-bar .form {
  display: flex;
}
.search-bar .form .button {
  padding: 14px 19px;
}
.search-bar .form-control {
  background-color: #F5F5F4;
  margin: 0;
  padding-left: 30px;
  color: #847577;
  font-size: 12px;
}
.search-bar .icon {
  position: absolute;
  display: inline-block;
  height: 100%;
  line-height: 43px;
  left: 10px;
  top: 0;
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 52px;
  z-index: 9;
}

header {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
@media only screen and (max-width: 991px) {
  header {
    position: relative;
  }
}

@media only screen and (max-width: 575px) {
  header.theme-2 .media img {
    margin: 0 !important;
  }
  header.theme-2 .media-body {
    display: none;
  }
}
header.theme-2 .header__upper {
  padding: 0;
}
header.theme-2 .navigation ul, header.theme-2 .header__upper--left {
  padding: 13px 0;
}
@media only screen and (max-width: 575px) {
  header.theme-2 .navigation ul, header.theme-2 .header__upper--left {
    margin: 0;
  }
}
header.theme-2 .header__upper--right .navigation {
  margin-right: 20px;
}
header.theme-2 .header__upper--right .navigation a {
  padding: 11px 18px;
}
@media only screen and (max-width: 1200px) {
  header.theme-2 .header__upper--right .navigation a {
    padding: 11px;
  }
}
@media only screen and (max-width: 575px) {
  header.theme-2 .header__upper--right .navigation a {
    padding: 6px 4px;
  }
}
@media only screen and (max-width: 575px) {
  header.theme-2 .navigation ul {
    padding: 10px 5px;
  }
}
header.theme-2 .dropdown-toggle::after {
  display: none;
}
header.theme-2 .dropdown-toggle {
  display: inline-block;
  padding: 16px;
  background-color: #F5F5F4;
  cursor: pointer;
}
@media only screen and (max-width: 575px) {
  header.theme-2 .dropdown-toggle {
    padding: 10px;
  }
}
header.theme-2 .dropdown-toggle h6 {
  font-size: 14px;
}

header.theme-3 {
  padding: 24px 0;
  background-color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.navigation-lower ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .navigation-lower ul {
    text-align: left;
    margin-top: 15px;
  }
}
.navigation-lower ul li {
  display: inline-block;
}
.navigation-lower ul li a {
  display: block;
  padding: 15px 20px;
  border: 1px solid transparent;
  line-height: 1;
  color: #3B3B3B;
}
@media only screen and (max-width: 575px) {
  .navigation-lower ul li a {
    padding: 10px 12px;
  }
}
.navigation-lower ul li a:hover {
  border-color: #3B3B3B;
}

.breadcrumb-div {
  padding: 40px 0;
  background-color: #FFFBEE;
}
.breadcrumb-div .breadcrumb {
  padding: 0;
  margin: 0;
  background-color: transparent;
  margin-top: 10px;
}
.breadcrumb-div .breadcrumb a {
  color: #3B3B3B;
  font-weight: bold;
  position: relative;
  margin-right: 10px;
}
.breadcrumb-div .breadcrumb a:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  margin-left: 1px;
  position: absolute;
  top: 1px;
  left: 100%;
}

.pagination {
  justify-content: center;
  margin-top: 20px;
}
@media only screen and (max-width: 991px) {
  .pagination {
    flex-wrap: wrap;
  }
}
.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
  border-radius: 0;
  width: 80px;
  text-align: center;
}
.pagination .page-link {
  display: block;
  height: 50px;
  width: 50px;
  line-height: 30px;
  text-align: center;
  border-radius: 0;
  border: 1px solid rgba(61, 62, 62, 0.5);
  margin: 0 8px;
  color: #3B3B3B;
}
@media only screen and (max-width: 991px) {
  .pagination .page-link {
    margin-bottom: 10px;
  }
}
.pagination .page-link.active {
  background-color: #3D3E3E;
  color: #fff;
}
.pagination .page-link:hover {
  background-color: #3D3E3E;
  color: #fff;
}

footer.theme-2 {
  height: 210px;
}
@media only screen and (max-width: 1200px) {
  footer.theme-2 {
    height: 200px;
  }
}

.footer-div {
  position: relative;
}

.footer-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.footer-shape svg {
  position: relative;
  display: block;
  width: calc(161% + 1.3px);
  height: 150px;
}

.footer-shape .shape-fill {
  fill: #FFFFFF;
}

.push {
  height: 61px;
}

.footer-nav-div {
  background-color: #3D3E3E;
  padding: 260px 0px 80px 0px;
}
@media only screen and (max-width: 575px) {
  .footer-nav-div {
    text-align: center;
  }
}
.footer-nav-div .footer-brand {
  margin-bottom: 25px;
}
.footer-nav-div h4 {
  color: #fff;
  margin-bottom: 30px;
}
.footer-nav-div .helpline h4 {
  margin-bottom: 15px;
}
.footer-nav-div .helpline h4 span {
  color: #F7BC00;
  display: inline-block;
}
.footer-nav-div .footer-navigation {
  display: flex;
}
.footer-nav-div .footer-navigation ul {
  flex-basis: 50%;
}
.footer-nav-div .footer-navigation ul a {
  transition: all 0.1s;
  display: inline-block;
}
.footer-nav-div .footer-navigation ul a:hover {
  color: #F7BC00;
}
.footer-nav-div .app-download-box {
  display: flex;
}
@media only screen and (max-width: 991px) {
  .footer-nav-div .app-download-box {
    justify-content: center;
    margin-top: 20px;
  }
}
.footer-nav-div .app-download-box a {
  display: inline-block;
  margin-bottom: 30px;
  border: 1px solid #fff;
  border-radius: 3px;
}
.footer-nav-div .app-download-box a:first-child {
  margin-right: 5px;
}
.footer-nav-div .cta-button a {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  text-align: center;
  border: 1px solid #fff;
}
.footer-nav-div a, .footer-nav-div p {
  color: #fff;
}
.footer-nav-div p {
  word-break: break-all;
}

.copyright-div {
  background-color: #383939;
  color: #fff;
  padding: 15px 0;
}
@media only screen and (max-width: 991px) {
  .copyright-div {
    text-align: center;
  }
}
.copyright-div p {
  margin: 0;
}
.copyright-div p, .copyright-div a {
  color: #fff;
  padding: 5px;
}

.social-nav {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
@media only screen and (max-width: 991px) {
  .social-nav {
    justify-content: center;
    margin-top: 20px;
  }
}
.social-nav a {
  padding: 5px 12px;
  transition: all 0.1s;
  display: inline-block;
}
.social-nav a.facebook:hover {
  color: #3B5998;
}
.social-nav a.twitter:hover {
  color: #1DA1F2;
}
.social-nav a.instagram:hover {
  color: #c32aa3;
}
.social-nav a.google-p:hover {
  color: #db4439;
}
.social-nav a.linkedin:hover {
  color: #007bb6;
}
.social-nav a.pinterest:hover {
  color: #bd081c;
}

.footer-nav-div.theme-2 {
  padding: 50px 0;
}
@media only screen and (max-width: 991px) {
  .footer-nav-div.theme-2 {
    text-align: center;
  }
}
.footer-nav-div.theme-2 .social-nav {
  justify-content: center;
}
.footer-nav-div.theme-2 .app-download-box a {
  margin-bottom: 0;
}
.footer-nav-div.theme-2 .footer-brand {
  margin: 0;
}

.copyright-div.theme-2 a:hover {
  color: #F7BC00;
}

.counter-area {
  background-image: url(../../assets/customImages/BackgroundAbout.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.counter-area:after {
  background-color: rgba(61, 62, 62, 0.8);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.counter-icon {
  margin-bottom: 25px;
}

.single-counter h2, .single-counter p {
  color: #fff;
}

.icons-div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.icons-div .single-icon {
  height: 75px;
  width: 75px;
  border: 1px solid rgba(59, 59, 59, 0.3);
  text-align: center;
  line-height: 70px;
  border-radius: 50px;
  background-color: #FEFBF0;
  position: relative;
}
@media only screen and (max-width: 575px) {
  .icons-div .single-icon {
    display: none;
  }
}
.icons-div .single-icon:not(:last-child):after {
  content: "";
  position: absolute;
  background-color: #ddd;
  height: 1px;
  width: 170px;
  top: 50%;
  left: 122%;
}

.how-work-text {
  text-align: center;
  word-break: break-all;
}
@media only screen and (max-width: 991px) {
  .how-work-text {
    margin-bottom: 20px;
  }
}

.testimonial-area {
  background-image: url(../../assets/customImages/BackgroundMap.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.testimonial-area:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(61, 62, 62, 0.8);
  z-index: -1;
}
.testimonial-area .div-title {
  color: #fff;
}

.about-us-area h4 {
  margin-bottom: 20px;
}
.about-us-area p {
  margin-bottom: 50px;
}
.about-us-area .about-us-img {
  margin-top: 70px;
}

.about-us-area {
  position: relative;
}
.about-us-area:after {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  content: "";
  background-image: url(../../assets/customImages/HomePage/HomePageMapWithLogo.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 991px) {
  .about-us-area:after {
    display: none;
  }
}

.download-qrcode {
  text-align: right;
}
@media only screen and (max-width: 991px) {
  .download-qrcode {
    text-align: center;
  }
}

.download-text {
  margin-top: 55px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 991px) {
  .download-text {
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .download-buttons {
    text-align: center;
  }
}
.download-buttons a {
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  .download-buttons a {
    margin-bottom: 10px;
  }
}
.download-buttons a:first-child {
  margin-right: 10px;
}

.single-contact-info {
  padding: 27px;
  border: 1px solid rgba(55, 55, 55, 0.2);
  min-height: 225px;
}
@media only screen and (max-width: 991px) {
  .single-contact-info {
    margin-bottom: 20px;
    min-height: 250px;
  }
}
.single-contact-info img {
  margin-bottom: 20px;
}

.personal-information-div .nav-tabs a {
  font-size: 14px;
  color: #847577;
  padding: 10px;
}
.personal-information-div .personal-details {
  background-color: #F7F7F6;
  padding: 25px;
}

.passanger-name {
  margin-bottom: 50px;
}
.passanger-name p {
  margin-bottom: 8px;
}
.passanger-name a {
  color: #847577;
}
.passanger-name a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 575px) {
  .passanger-name {
    margin-bottom: 10px;
  }
}

.personal-info {
  margin-top: 50px;
}
.personal-info a {
  color: #847577;
}
.personal-info a.button {
  color: #fff;
}
.personal-info .personal-details {
  background-color: #F7F7F6;
  padding: 30px;
}
@media only screen and (max-width: 575px) {
  .personal-info .personal-details {
    padding: 15px;
  }
  .personal-info .personal-details textarea {
    margin-bottom: 0;
  }
}

.counter-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
@media only screen and (max-width: 575px) {
  .counter-wrapper {
    flex-wrap: wrap;
    padding: 30px 0;
  }
}

.single-counter-box {
  flex-basis: 25%;
  text-align: center;
}
@media only screen and (max-width: 575px) {
  .single-counter-box {
    flex-basis: 50%;
  }
}

.vahicles-container .row {
  margin-top: 30px;
}

.single-vehicle-container {
  margin-bottom: 30px;
  text-align: center;
}

.single-driver .card {
  background-color: #F7F7F6;
  border-radius: 0;
  margin-bottom: 25px;
}

@media only screen and (max-width: 575px) {
  .tab-dashboard {
    margin-top: 15px;
  }
}

.rides-filter ul li {
  list-style: none;
  display: inline-block;
}
.rides-filter ul li a {
  display: inline-block;
  color: #3B3B3B;
  padding: 5px 15px;
  border: 1px solid transparent;
  transition: all 0.1s;
}
@media only screen and (max-width: 575px) {
  .rides-filter ul li a {
    padding: 5px 10px;
  }
}
.rides-filter ul li a:hover {
  border-color: rgba(59, 59, 59, 0.3);
}

.tab-dashboard .tab-navigation {
  margin-bottom: 45px;
}
.tab-dashboard .tab-navigation a {
  display: inline-block;
  padding: 15px;
  border: 1px solid transparent;
  border-bottom: none;
  color: #847577;
}
@media only screen and (max-width: 575px) {
  .tab-dashboard .tab-navigation a {
    padding: 8px;
  }
}
.tab-dashboard .tab-navigation a.active {
  background-color: #F7F7F6;
  color: #3B3B3B;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid rgba(59, 59, 59, 0.1);
  border-bottom: none;
}

.tab-pane h4 {
  margin-bottom: 30px;
}
.tab-pane .small-div-item {
  background-color: #F7F7F6;
}
.tab-pane .small-div:not(:last-child) {
  margin-bottom: 50px;
}

.driver-dashboard-div .right-text {
  text-align: right;
}
@media only screen and (max-width: 575px) {
  .driver-dashboard-div .right-text {
    text-align: left;
  }
}

.div-heading {
  display: flex;
}
.div-heading .heading-item {
  flex-basis: 50%;
  width: 100%;
}
@media only screen and (max-width: 575px) {
  .div-heading .heading-item-1 {
    flex-basis: 80%;
  }
  .div-heading .heading-item-2 {
    flex-basis: 20%;
  }
}
.div-heading .heading-item.right {
  display: flex;
  justify-content: flex-end;
  color: #3B3B3B;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

.single-vehicle-box {
  height: 254px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 25px;
}
.single-vehicle-box:hover .vehicle-box-hover {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.single-vehicle-box .vehicle-box-hover {
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  transition: all 0.3s;
}
.single-vehicle-box .vehicle-box-hover:after {
  content: "";
  background-color: rgba(247, 188, 0, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.single-vehicle-box .vehicle-box-hover h4 {
  color: #000;
}
.single-vehicle-box .vehicle-box-hover p {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */