﻿@using CarPooling.Service.ResponseModels
@model CarPooling.Service.ResponseModels.DataTablePaginator<RatingResponseModel>

@if (Model.TotalItems > 0)
{
    <div id="container-table-rating" class="row small-div">
        <div class="col-lg-12">
            <div class="total-earning-table table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rating in Model.Data)
                        {
                            <tr>
                                @if (rating.RatingUserProfilePic != null)
                                {
                                    <th scope="row">
                                        <img class="mе-3 rounded-circle" style="margin-right:1rem!important" height="50" width="50" src="@rating.RatingUserProfilePic"
                                             alt="partner-img"><span class="fw-light">@rating.RatingUser</span> 
                                        </th>
                                    }
                                    else
                                    {
                            <th scope="row">
                                <img class="mе-3 rounded-circle" style="margin-right:1rem!important" height="50" width="50" src="~/DefaultProfilePic.jpg" alt="partner-img"><span class="fw-light">@rating.RatingUser</span>
                            </th>
                                    }
                                <td>
                                    <div class="@rating.RatingId">
                                        <div class="stars-outer">
                                            <div class="stars-inner" style="width:@((Math.Round(((double)rating.RatingPoints / 5 * 100) / 10) * 10) + "%")">

                                            </div>

                                        </div>
                                        <span class="number-rating"> @rating.RatingPoints</span>
                                    </div>
                                </td>
                                <td>@rating.Comment</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    @if (Model.CurrentPage > 1)
                    {
                        <button id="prev-button-rating" type="button" class="btn btn-secondary">Prev</button>
                    }
                    <button type="button" class="btn btn-secondary " disabled>@Model.CurrentPage</button>
                    @if (Model.TotalItems - (Model.CurrentPage * Model.Take) > 0)
                    {
                        <button id="next-button-rating" type="button" class="btn btn-secondary">Next</button>
                    }
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div style="text-align: center;">
        <p> There are currently no ratings!</p><i class="far fa-frown fa-2x"></i>
    </div>
}
