﻿@using CarPooling.Service.ResponseModels
@model CarPooling.Service.ResponseModels.DataTablePaginator<TripResponseModel>

@if (Model.TotalItems > 0)
{
    <div id="container-table-passanger" class="row small-div">
        <div class="col-lg-12">
            <div class="total-earning-table table-responsive">
                
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Route</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Prefferences</th>
                            <th scope="col">Free Seats</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var trip in Model.Data)
                        {
                        <tr>
                            <th scope="row">@trip.StartingPoint &emsp; <img src="~/assets/customImages/RoadDashLine.png" /> &emsp; <small>@trip.EndingPoint</small></th>
                            <td>@trip.DepartureDate</td>
                            <td>@trip.DepartureTime</td>

                            @await Html.PartialAsync("_IconsPartial", trip)>
                            <td style="text-align: center;">@trip.FreeSeats</td>
                            <td>
                                @if (trip.TripStatus == "Active")
                                {
                                    <span class="badge bg-success rounded-pill">@trip.TripStatus </span>
                                }
                                else if (trip.TripStatus == "Canceled")
                                {
                                    <span class="badge bg-danger rounded-pill"> @trip.TripStatus</span>
                                }
                                else
                                {
                                    <span class="badge bg-warning rounded-pill">@trip.TripStatus </span>
                                }
                            </td>
                            <td>
                                <a asp-controller="Trips" asp-action="Details" asp-route-id="@trip.TripId" class="btn-sm btn-secondary">Details</a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    @if (Model.CurrentPage > 1)
                    {
                        <button id="prev-button-passanger" type="button" class="btn btn-secondary">Prev</button>
                    }
                    <button type="button" class="btn btn-secondary " disabled>@Model.CurrentPage</button>
                    @if (Model.TotalItems - (Model.CurrentPage * Model.Take) > 0)
                    {
                        <button id="next-button-passanger" type="button" class="btn btn-secondary">Next</button>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div style="text-align: center;">
        <p> There are currently no trips!</p><i class="far fa-frown fa-2x"></i>
    </div>
}

