﻿@using Microsoft.AspNetCore.Http;
@using CarPooling.Service.ResponseModels
@model CarPooling.Service.ResponseModels.DataTablePaginator<UserResponseModel>
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["UserId"] = this.Context.Session.GetString("UserId");
    this.ViewData["Applied"] = this.Context.Session.GetString("Applied");
    this.ViewData["UserRole"]=this.Context.Session.GetString("UserRole");
}
<div id="container-table" class="row small-div">
    <div class="col-lg-12">
        <div class="total-earning-table table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">User Id</th>
                        <th scope="col">Profile Picture</th>
                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Blocked</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Data)
                    {
                        <tr class="users">

                            <td style="text-align: center;">@user.UserId</td>
                            @if (user.ProfilePicture != null)
                            {
                                <th scope="row">
                                    <img class="mе-3 rounded-circle" style="margin-right:1rem!important" height="50" width="50" src="@user.ProfilePicture"
                                         alt="partner-img">
                                </th>
                            }
                            else
                            {
                                <th scope="row">
                                    <img class="mе-3  rounded-circle" style="margin-right:1rem!important" height="50" width="50" src="~/DefaultProfilePic.jpg" alt="partner-img">
                                </th>
                            }
                            <td>@user.UserName</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>
                                <div class="@user.UserId">
                                    <div class="stars-outer">
                                        <div class="stars-inner" style="width:@((Math.Round(((double)user.RatingPoints / 5 * 100) / 10) * 10) + "%")">

                                        </div>

                                    </div>
                                    <span class="number-rating"> @user.RatingPoints</span>
                                </div>
                            </td>
                            <td><i class="fas fa-envelope"></i> &nbsp; @user.Email</td>
                            <td><i class="fas fa-phone"></i> &nbsp; @user.PhoneNumber</td>
                            <td>@user.Blocked</td>
                            @if (ViewData["UserRole"] != null && ViewData["UserRole"].ToString() == "Admin")
                            {
                                <td>
                                    @if (user.Blocked)
                                    {
                                        <a href="#" class="btn-sm btn-secondary" onclick="EmptyAjaxUnblock(@user.UserId)">Unblock</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="btn-sm btn-secondary" onclick="EmptyAjaxBlock(@user.UserId)">Block</a>
                                    }
                                </td>
                            }
                            <td><a asp-controller="Users" asp-action="Profile" asp-route-id="@user.UserId" class="btn-sm btn-secondary">View Profile</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-center">
            @if (ViewBag.Search != true)
            {
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    @if (Model.CurrentPage > 1)
                    {
                        <button id="prev-button" type="button" class="btn btn-secondary">Prev</button>
                    }
                    <button type="button" class="btn btn-secondary " disabled>@Model.CurrentPage</button>
                    @if (Model.TotalItems - (Model.CurrentPage * Model.Take) > 0)
                    {
                        <button id="next-button" type="button" class="btn btn-secondary">Next</button>
                    }
                </div>
            }
        </div>
    </div>
</div>