﻿@model CarPooling.Models.User.ChangePasswordViewModel

<div class="row">
    <div class="row">
        <form asp-action="ChangePassword">
            <div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="firstName">Old Password</label>
                            <span asp-validation-for="OldPassword"></span>
                            <input asp-for="OldPassword" type="password" class="form-control text-muted" placeholder="Old Password">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="firstName">New Password</label>
                            <span asp-validation-for="NewPassword"></span>
                            <input asp-for="NewPassword" type="password" class="form-control text-muted" placeholder="New Password">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="firstName">Confirm New Password</label>
                            <span asp-validation-for="ConfirmPassword"></span>
                            <input asp-for="ConfirmPassword" type="password" class="form-control text-muted" placeholder="Confirm New Password">
                        </div>
                    </div>
                    <div class="col-lg-6" style="float: right;">
                        <button type="submit" class="button button-light ">Update Password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>