@using Microsoft.AspNetCore.Http;

@model CarPooling.Models.User.UserProfileViewModel
@{ ViewData["Title"] = "Dashboard"; }
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["UserId"] = this.Context.Session.GetString("UserId");
    this.ViewData["Applied"] = this.Context.Session.GetString("Applied");
    this.ViewData["Profile"] = "Personal";
}

<body class="theme-2">
    <partial name="~/Views/Shared/_HeaderPartial.cshtml" />
    <div class="breadcrumb-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ol class="breadcrumb">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    </ol>
                </div>
                <div class="col-6">
                    <div class="text-end">
                        <h2> @Model.FirstName @Model.LastName</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-padding personal-information-div">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="passanger-name">
                        <div class="media">
                            @if (Model.ProfilePicture == null)
                            {
                                <img class="mе-3" style="margin-right:1rem!important" height="150" src="~/DefaultProfilePic.jpg" alt="partner-img">
                            }
                            else
                            {
                                <img class="mе-3" style="margin-right:1rem!important" height="150" src="@Model.ProfilePicture" alt="partner-img">
                            }
                            <div class="media-body">
                                <h2 class="mt-0">@Model.UserName</h2>
                                <p>Rating : @ViewBag.Rating</p>
                                <div class="@Model.UserName-rating">
                                    <div class="stars-outer">
                                        <div class="stars-inner" style="width:@((Math.Round(((double)@ViewBag.Rating / 5 * 100) / 10) * 10) + "%")">

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-dashboard">
                        <ul class="nav nav-tabs tab-navigation" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#ratings" aria-controls="ratings" role="tab" data-toggle="tab">Recieved Ratings</a>
                            </li>
                            <li role="presentation">
                                <a class="active" href="#info" aria-controls="info" role="tab" data-toggle="tab">Personal Information</a>
                            </li>
                            <li role="presentation">
                                <a href="#tripsAsDriver" aria-controls="tripsAsDriver" role="tab" data-toggle="tab">Trips As Driver</a>
                            </li>
                            <li role="presentation">
                                <a href="#tripsAsPassanger" aria-controls="tripsAsPassanger" role="tab" data-toggle="tab">Trips As Passanger</a>
                            </li>
                            <li role="presentation">
                                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="ratings">
                                <div class="rides-details">
                                    @await Html.PartialAsync("_RatingsTable", Model.ReceivedRatings)
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="info">
                                <div class="personal-info">
                                    <div class="personal-details">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="readFirstName">User First Name</label>
                                                    <input type="text" class="form-control text-muted" id="readFirstName" readonly value="@Model.FirstName">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="readLastName">User Last Name</label>
                                                    <input type="text" class="form-control text-muted" id="readLastName" readonly value="@Model.LastName">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="readYourEmail">User Email</label>
                                                    <input type="text" class="form-control text-muted" id="readYourEmail" readonly value="@Model.Email">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="readPhone">User Phone Number</label>
                                                    <input type="text" class="form-control text-muted" id="readPhone" readonly value="@Model.PhoneNumber">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tripsAsDriver">
                                <div class="rides-details">
                                    <div class="row">
                                        @if ((bool)ViewData["IsAuthenticated"])
                                        {
                                            @if (ViewData["UserId"].ToString() == Model.UserId.ToString())
                                            {
                                                <div class="col-lg-6">
                                                    <h4>  <a asp-controller="Trips" asp-action="Create" class="btn-sm btn-secondary">Create Trip</a>  </h4>
                                                </div>
                                            }
                                        }

                                    </div>
                                    @await Html.PartialAsync("_TableAsDriver", Model.TripsAsDriver)
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tripsAsPassanger">
                                <div class="rides-details">
                                    <div class="row">
                                        @if ((bool)ViewData["IsAuthenticated"])
                                        {
                                            @if (ViewData["UserId"].ToString() == Model.UserId.ToString())
                                            {
                                                <div class="col-lg-6">
                                                    <h4>  <a asp-controller="Trips" asp-action="Create" class="btn-sm btn-secondary">Create Trip</a>  </h4>
                                                </div>
                                            }
                                        }
                                    </div>
                                    @await Html.PartialAsync("_TableAsPassanger", Model.TripsAsPassanger)
                                </div>
                            </div>

                            @if ((bool)ViewData["IsAuthenticated"])
                            {
                                @if (ViewData["UserId"].ToString() == Model.UserId.ToString())
                                {
                                    <div role="tabpanel" class="tab-pane" id="settings">
                                        <form asp-controller="Users" asp-action="Update" enctype="multipart/form-data">
                                            <div class="personal-info">
                                                <h4>Edit Information</h4>
                                                <div class="personal-details small-div">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="readFirstName">UserName</label>
                                                                <span asp-validation-for="UserName"></span>
                                                                <input asp-for="UserName" type="text" class="form-control text-muted" id="readFirstName" readonly value="@Model.UserName">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="firstName">First Name</label>
                                                                <span asp-validation-for="FirstName"></span>
                                                                <input asp-for="FirstName" type="text" class="form-control text-muted" id="firstName" placeholder="@Model.FirstName">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="lastName">Last Name</label>
                                                                <span asp-validation-for="LastName"></span>
                                                                <input asp-for="LastName" type="text" class="form-control text-muted" id="lastName" placeholder="@Model.LastName">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="lastName">E-mail</label>
                                                                <span asp-validation-for="Email"></span>
                                                                <input asp-for="Email" type="email" class="form-control text-muted" id="firstName" placeholder="@Model.Email">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="phoneNumber">Your Phone Number</label>
                                                                <span asp-validation-for="PhoneNumber"></span>
                                                                <input asp-for="PhoneNumber" type="text" class="form-control text-muted" id="phoneNumber" placeholder="@Model.PhoneNumber">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group" style="padding-top:23px">
                                                                <input type="file" name="file1" id="img" style="display:none;" />
                                                                <label for="img" class="btn btn-outline-dark"><i class="fas fa-file-image"></i> &nbsp;&nbsp; Click here to upload image</label>
                                                            </div>
                                                        </div>
                                                        <div style="display:flex; justify-content:center">

                                                            <div class="form-group" style="margin-right:120px">
                                                                <a onclick="showInPopup('@Url.Action("ChangePassword", "Users")','Change Password')" class="button button-light">Change Password</a>
                                                            </div>
                                                            <div class="form-group" style="margin-right:120px">
                                                                <a data-bs-toggle="modal" data-bs-target="#DeleteModal" class="button button-light">Delete Profile</a>
                                                            </div>
                                                            <button type="submit" class="button button-light" style="float: right;">Save Changes</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="form-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <div class="modal" id="DeleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your profile</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button button-light" data-bs-dismiss="modal">
                        <a style="color: white;" asp-controller="Users" asp-action="DeleteConfirmed" asp-route-id="@Model.UserId">Yes</a>
                    </button>
                    <button type="button" class="button button-light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <partial name="~/Views/Shared/_FooterPartialTheme3.cshtml" />
    <!-- jQuery -->
    <script src="~/assets/plugins/common/common.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/assets/plugins/counterup/waypoints.min.js"></script>
    <script src="~/assets/plugins/counterup/jquery.counterup.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- custom scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/TripPaginationAsDriver.js"></script>
    <script src="~/js/TripPaginationAsPassanger.js"></script>
    <script src="~/js/RatingPaginatorInUser.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/dynamicRatings.js"></script>
</body>