@using Microsoft.AspNetCore.Http;
@model CarPooling.Models.User.UserProfileViewModel
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["UserId"] = this.Context.Session.GetString("UserId");
    this.ViewData["UserRole"] = this.Context.Session.GetString("UserRole");
    this.ViewData["Profile"] = "View";
    this.ViewData["Title"] = "Profile Details";
}

<body class="theme-2">
    <partial name="~/Views/Shared/_HeaderPartial.cshtml" />
    <div class="breadcrumb-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ol class="breadcrumb">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    </ol>
                </div>
                <div class="col-6">
                    <div class="text-end">
                        <h2> @Model.FirstName @Model.LastName</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-padding personal-information-div">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="passanger-name">
                        <div class="media">
                            @if (Model.ProfilePicture == null)
                            {
                                <img class="mе-3" style="margin-right:1rem!important" height="150" src="~/DefaultProfilePic.jpg" alt="partner-img">
                            }
                            else
                            {
                                <img class="mе-3" style="margin-right:1rem!important" height="150" src="@Model.ProfilePicture" alt="partner-img">
                            }
                            <div class="media-body">
                                <h2 class="mt-0">@Model.UserName</h2>
                                <p>Rating : @ViewBag.Rating</p>
                                <div class="@Model.UserName-rating">
                                    <div class="stars-outer">
                                        <div class="stars-inner" style="width:@((Math.Round(((double)@ViewBag.Rating / 5 * 100) / 10) * 10) + "%")">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-dashboard">
                        <ul class="nav nav-tabs tab-navigation" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#ratings" aria-controls="ratings" role="tab" data-toggle="tab">Ratings</a>
                            </li>
                            <li role="presentation">
                                <a class="active" href="#info" aria-controls="info" role="tab" data-toggle="tab">Personal Information</a>
                            </li>
                            <li role="presentation">
                                <a href="#tripsAsDriver" aria-controls="tripsAsDriver" role="tab" data-toggle="tab">Trips As Driver</a>
                            </li>
                            <li role="presentation">
                                <a href="#tripsAsPassanger" aria-controls="tripsAsPassanger" role="tab" data-toggle="tab">Trips As Passanger</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="ratings">
                                <div class="rides-details">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4>Received Ratings</h4>
                                        </div>
                                    </div>
                                    @await Html.PartialAsync("_RatingsTable", Model.ReceivedRatings)
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="info">
                                <div class="personal-info">
                                    <h4>Personal Information</h4>
                                    <div class="personal-details">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="readFirstName">User First Name</label>
                                                    <input type="text" class="form-control text-muted" id="readFirstName" readonly value="@Model.FirstName">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="readLastName">User Last Name</label>
                                                    <input type="text" class="form-control text-muted" id="readLastName" readonly value="@Model.LastName">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="readYourEmail">User Email</label>
                                                    <input type="text" class="form-control text-muted" id="readYourEmail" readonly value="@Model.Email">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="readPhone">User Phone Number</label>
                                                    <input type="text" class="form-control text-muted" id="readPhone" readonly value="@Model.PhoneNumber">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tripsAsDriver">
                                <div class="rides-details">

                                    @await Html.PartialAsync("_TableAsDriver", Model.TripsAsDriver)
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tripsAsPassanger">
                                <div class="rides-details">

                                    @await Html.PartialAsync("_TableAsPassanger", Model.TripsAsPassanger)
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="form-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <partial name="~/Views/Shared/_FooterPartialTheme3.cshtml" />
    <!-- jQuery -->
    <script src="~/assets/plugins/common/common.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/assets/plugins/counterup/waypoints.min.js"></script>
    <script src="~/assets/plugins/counterup/jquery.counterup.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- custom scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/TripPaginationAsDriver.js"></script>
    <script src="~/js/TripPaginationAsPassanger.js"></script>
    <script src="~/js/RatingPaginatorInUser.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/dynamicRatings.js"></script>
</body>
